.THIS .disabled {
    /*background-color: transparent !important;9*/
    pointer-events: none;
    border: none;
}
.THIS .fieldSet div {
    pointer-events: none;
    width: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.THIS .unitDiv {
	display: flex;
}
.THIS .image {
    text-align: center;
    margin: 0.5rem;
    margin-right: 1rem;
    height: 25vh;
    width: 30%;
}
.THIS .customerDiv div {
    pointer-events: none;
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.THIS .slds-box {
    margin: 0.25rem;
}
.THIS .uiInput input, 
.THIS .uiInput .input{
    margin-top: -0.3rem;
    margin-bottom: -0.3rem;
    background-color: transparent;
}
.THIS .uiInput div.input {
    margin-bottom: -0.67rem;
}
.THIS:not(.DESKTOP) .uiInput div.input{
    margin: 0;
    padding: 0px 1rem 0px 0.75rem;
}
.THIS div.disabled.slds-truncate.input {
    word-wrap: break-word;
    white-space: normal;
}
.THIS .uiInput {
	border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f4f4f4;
}
.THIS *{
    max-width: 100%;
}
@media (max-width: 48em){
    .THIS .small-direction-column{
        flex-direction: column;
        align-items: center;
    }
    .THIS .small-direction-column > div{
        width: 100%;
    }
    
}
@media (max-width: 30em){
    .THIS .unitDiv{
        flex-direction: column;
        align-items: center;
    }
    .THIS .image {
        margin: 0.5rem;
        width: 75%;
    }
    
}