/* Hide labels for ui:inputSelect picklist */
.THIS .custom-label-hidden .slds-form-element__label {
    display : none;
    visibility : hidden;
}
.THIS .custom-multi-picklist {
    max-height: 70px !important;
    min-width: 130px !important;
}

/* Payment Profile Styling */
.THIS .custom-input-sizing {
    max-width: 120px !important;
}

/* Custom Line Through */
.THIS .custom-line-through {
    text-decoration: line-through;
}

/* Inline Styling */
.THIS .custom-inline {
    display: inline;
}

/* Bold Styling */
.THIS .custom-bold {
    font-weight: bold;
}

/* Payment by Tenant Column Styling */
.THIS .custom-column-sizing {
    min-width: 100px;
    width: 130px !important;
}
.THIS .custom-column-sizing-large {
    min-width: 120px;
    width: 150px !important;
}
.THIS .custom-column-sizing-x-large {
    min-width: 135px;
    width: 160px !important;
}


/* Scrollbar Styling */
.THIS.scrollerSize {
    height: 100%;
    width: 100%;
    border-radius: 1px;
}
.THIS.scrollerSize::-webkit-scrollbar {
    -webkit-appearance: none;
}
.THIS.scrollerSize::-webkit-scrollbar:vertical {
    width: 11px;
}
.THIS.scrollerSize::-webkit-scrollbar:horizontal {
    height: 11px;
}
.THIS.scrollerSize::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
.THIS.scrollerSize::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}