/* Inline Styling */
.THIS .custom-inline {
    display: inline;
}

.THIS .custom-width-140 {
    width: 140px;
}

.THIS .custom-line-through {
    text-decoration: line-through;
}

/* Scrollbar Styling */
.THIS.scrollerSize {
    height: 100%;
    width: 100%;
    border-radius: 1px;
}
.THIS.scrollerSize::-webkit-scrollbar {
    -webkit-appearance: none;
}
.THIS.scrollerSize::-webkit-scrollbar:vertical {
    width: 11px;
}
.THIS.scrollerSize::-webkit-scrollbar:horizontal {
    height: 11px;
}
.THIS.scrollerSize::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
.THIS.scrollerSize::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}