.THIS .listHeader {
    white-space: normal;
    font-weight: bold;
}
.THIS .slds-card__body {
    margin-bottom: 0px;
    padding: .75rem .75rem 0;
}
.THIS .icon {
    margin-right: .5rem;
}
.THIS .contactLink {
    font-size: .875rem;
    border-bottom: 1px dotted;
}
.THIS .contactLink:hover {
    text-decoration: none;
}
.THIS .inlineBlock {
    display:inline-block;
}
.THIS .infoBlock {
    padding-left: 1.75rem;
    margin-bottom: 0.5rem;
}
.THIS .slds-card__footer {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -12px;
    margin-right: -12px;
}
.THIS .withoutBorder {
    border-top: 1px solid transparent !important;
}