.THIS .timepicker {
    max-width: 400px;
    text-align: center;
}
.THIS .timeButton {
    width: 30%;
    margin: 0.125rem;
    color: black;
    transition: all 0.3s;
}
.THIS .slds-input.selectedTime {
    text-align: left;
    background-color: transparent !important;
    cursor : auto;
}
.THIS .uiInput {
    text-align: left;
    margin: 0 1rem 0.125rem 1rem;
}
.THIS .timeNotAvailable {
    background-color: #c23934;
    border-color:#c23934;
    color: white;
    pointer-events: none;
    opacity: 0.8;
}
.THIS .selectedTime:not(input) {
    background-color: #04844b;
    border-color:#04844b;
    color: white;
}
.THIS .selectedEndTime:not(input) {
    background-color: #04844b;
    border-color:#04844b;
    color: white;
}
.THIS .timepicker>div {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}
.THIS .fc-icon-right-single-arrow:after,
.THIS .fc-icon-left-single-arrow:after {
    top: 0;
}
.THIS .slds-modal__header {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border: none;
}
.THIS .slds-modal__footer {
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1);
    border: none;
}
.THIS .slds-button_brand {
    background-color: #0070d2;
    border-color: #0070d2;
    color: white;
}
.THIS .fc-past{
    background-color:grey;
}
.THIS .dateTime-inputDate {
    pointer-events: none;
}
.THIS .timeNotClickable {
    pointer-events: none;
    opacity: 0.8;
}
.THIS .hoursChangeDisabled {
    pointer-events: none;
}
.THIS .slds-icon {
    background-color: transparent !important;
}
.THIS .reduceButton {
    border-color: #c94c4c !important;
    margin-right: 1.25rem;
}
.THIS .addButton {
    border-color: green !important;
    margin-left: 1.25rem;
}
.THIS .dayNotAvailable {
    background-color: #c94c4c !important;
}
.THIS .dayAvailable {
    background-color: MediumSeaGreen !important;
}
.THIS .dayPartiallyAvailable {
    background-color: Gold !important;
}
.THIS .inputTimeInterval {
    margin-top: 1rem;
    border: none;
    pointer-events: none;
}

.THIS .dateTime-inputTime input {
    pointer-events: none;
    /*border-color: #c94c4c;
    border-width: 2px;*/
}
.THIS .startTimePicker{
    text-align: left;
    margin: 0 1rem 0.125rem 1rem;
}

.THIS .startTimePicker select{
    text-align: left;
    border-color: #c94c4c;
    border-width: 1px;
}
.THIS .legendColors {
    margin-left: 1rem;
    margin-right: 1rem;
}

.THIS .legend {
    margin-top: 0.25rem;
}

.THIS .notEnoughTime {
    background-color:grey;
}

.THIS .step {
    margin: 0.5rem;
    text-align: center;
    font-size: 35pt;
    color: grey;
    width: 55px;
}

.THIS .stepHeader {
    margin-left: 1rem;
}
.THIS .slds-modal__container > div{
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
}
.THIS .fc-scroller{
    height: auto!important;
}

.THIS.PHONE .fc-basic-view .fc-body .fc-row{
    min-height: 2em;
}
.THIS.PHONE .fc-toolbar.fc-header-toolbar{
    margin-bottom: 0.5em;
}
.THIS.PHONE .legend .slds-col,
.THIS.TABLET .legend .slds-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.THIS.TABLET .landscape-mod-select-days{
    width: 90%;
}
.THIS.PHONE .landscape-mod-select-days .timeButton{
    font-size: 15px;
}
@media (orientation: landscape){
    .THIS:not(.DESKTOP) .orientation-change,
    .THIS:not(.DESKTOP) .orientation-change > div,
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar,
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar .fc-left .fc-button-group,
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar .fc-left,
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar .fc-right .fc-button-group{
        display: flex;
    }
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar > div{
        margin-bottom: 0.5rem;
    }
    .THIS.PHONE .orientation-change .legend{
        font-size: 13px;
    }
    .THIS:not(.DESKTOP) .orientation-change .legend{
        align-items: center;
        flex-direction: column;
        margin-top: 0;
        margin-left: 0.25rem;
    }
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar{
        flex-direction: column;
    }
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar .fc-center{
        order: 1;
    }
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar .fc-center h2{
        width: 100%;
    }
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar .fc-left{
        order: 2;
        justify-content: center;
        flex-wrap: wrap;
    }
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar .fc-right{
        order: 3;
    }
    .THIS:not(.DESKTOP) .orientation-change .fc-toolbar .fc-left .fc-today-button{
        margin: auto;
    }
    .THIS.PHONE .fc-scroller{
        height: auto!important;
    }
    .THIS.PHONE .fc-basic-view .fc-body .fc-row{
        height: auto!important;
    }


    .THIS.PHONE .orientation-change-modal{
        flex-direction: row;
    }
    .THIS.PHONE .orientation-change-modal > .slds-col.hasSelectedStartTime,
    .THIS.PHONE .orientation-change-modal > .slds-col.hasSelectedStartTime~.slds-col{
        width: 50%;
        margin-top: 0;
    }
    .THIS.PHONE .orientation-change-modal .inputTimeInterval{
        margin: 0;
        margin-top: 1rem;
    }


    .THIS.PHONE .landscape-mod-select-days .slds-modal__header{
        display: flex;
        justify-content: space-between;
    }
    .THIS.PHONE .landscape-mod-select-days .slds-modal__content{
        max-height: 54vh;
    }
    .THIS.PHONE .landscape-mod-select-days{
        max-width: 100vw;
        padding: 0.5rem;
        margin: 0;
    }
    .THIS:not(.DESKTOP) .landscape-mod-select-days{
        max-width: 100vw;
        width: 100%;
    }
    .THIS.PHONE .landscape-mod-select-days .timeButton{
        font-size: 13px;
    }
    .THIS.PHONE .landscape-mod-select-days .timepicker{
        width: 50%;
    }
    .THIS:not(.DESKTOP) .landscape-mod-select-days .timepicker{
        max-width: unset;
    }
    .THIS.PHONE .landscape-mod-select-days .timepicker .timeButton{
        width: calc(50% - 0.25rem);
        padding: 0;
        line-height: 13px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;
    }
    .THIS.PHONE .landscape-mod-select-days>div>.slds-modal__content{
        display: flex;
    }
    .THIS.PHONE .landscape-mod-select-days .slds-input{
        font-size: 13px;
    }
}
.THIS .flex-1{
    flex: 1;
}

@media (max-height: 600px){
    .THIS.PHONE .legendColors .slds-icon{
        width: 1rem;
        height: 1rem;
    }
    .THIS.PHONE .legend{
        font-size: 13px;
    }
}