.THIS.show, .THIS .show {
    display: block !important;
}
.THIS .slds-lookup__item .slds-icon_container,
.THIS .slds-pill__label .slds-icon_container {
    margin-right:.5rem;
}
.THIS .slds-lookup__item>a .slds-icon,
.THIS .slds-lookup__item>span svg.slds-icon,
.THIS .slds-lookup__item>button svg.slds-icon{
    margin-right:0rem;
}
.THIS .slds-pill-container .slds-button {
    margin-top:-5px;
    margin-left:10px;
}