@media (max-width : 700px) {

    /*.THIS {
        min-width: 600px;
    }*/
    .THIS .timeButton {
        line-height: 1.5rem;
    }
    .THIS .timepicker {
        width: 100%;
    }

    .THIS .slds-modal__container {
        margin: auto;
        padding-bottom: 0.5rem;
        width: 100%;
        max-width: 400px;
        padding-top: 2.5rem;
    }
}
@media (orientation: landscape) and (max-width : 700px){
    .THIS .slds-modal__container{
        max-width: unset;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
.THIS.TABLET .tablet-width-70{
        width: 70%;
    }
.THIS .slds-button_neutral{
    border: 1px solid #dddbda;
    color: #0070d2;
    background-color: white;
}
.THIS .bold{
    font-weight: bold;
}
.THIS.loader{
    display: none;
    background-color: rgba(197,204,214,0.75);
    height: 100%;
    position: fixed;
    z-index: 10000;
}
.THIS.loader.show {
    display: block;
}

.THIS .slds-table{
    table-layout: fixed;
}
.THIS .slds-table img{
    /*width: 100%;*/
    width: 150px;
    height: 100px;
}

.THIS .slds-table td:last-child,
.THIS .slds-table th:last-child{
    text-align: left;
}
@media (max-width: 48em){
    .THIS.PHONE .slds-max-small-table_stacked-vertical thead{
        display: none;
    }
    .THIS.PHONE .slds-max-small-table_stacked-vertical tbody tr{
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgb(244, 244, 244);
        border-bottom: 1px solid rgb(244, 244, 244);
    }
    .THIS.PHONE .slds-max-small-table_stacked-vertical tbody td{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }
    .THIS.PHONE .slds-max-small-table_stacked-vertical tbody td:before {
        content: attr(data-label);
    }
}