.THIS.loader {
    display: none;
    background-color: rgba(197,204,214,0.75);
    height: 100%;
    position: fixed;
    z-index: 10000;
}
.THIS.loader.show {
    display: block;
}/*
.THIS .unitInfo {
    height: 30vh;
    min-height: 250px;
}*/