.THIS.loader {
    display: none;
    background-color: rgba(197,204,214,0.75);
    height: 100%;
    position: fixed;
    z-index: 10000;
}
.THIS.loader.show {
    display: block;
}
.THIS .pagination {
    text-align: center;
    margin: 0.25rem;
}
.THIS .pagination button {
    color: rgb(51, 51, 51);
}
.THIS .sortIcon {
    margin-left: 0.5rem;
}
.THIS .slds-truncate{
    white-space: normal;
}

@media (max-width: 400px){
    .THIS .pagination .slds-button-group > .slds-button {
        padding: 0.5rem;
    }
}