<apex:page showheader="false" >
    <head>
        <apex:includescript value="https://code.jquery.com/jquery-1.12.3.js" / >
        <apex:includescript value="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
        <apex:includescript value="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
        <apex:includescript value="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"/>
        <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
        <apex:stylesheet value="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" />            <apex:stylesheet value="{!URLFOR($Resource.lighteningDesignSystem, 'assets/styles/salesforce-lightning-design-system.css')}" />
            
    </head>
    <div class="slds-page-header" role="banner">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media slds-no-space slds-grow">
        <div class="slds-media__figure">
         
        </div>
        <div class="slds-media__body">
          
          <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB DETAILS</h1>
        </div>
      </div>
    </div>
  
  </div>
  
</div>
    <div class="slds-context-bar">
        <div class="slds-context-bar__primary slds-context-bar__item--divider-right">
            <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click slds-no-hover">
                <div class="slds-context-bar__icon-action">
                    <a href="javascript:void(0);" class="slds-icon-waffle_container slds-context-bar__button">
                        <div class="slds-icon-waffle">
                            <div class="slds-r1"></div>
                            <div class="slds-r2"></div>
                            <div class="slds-r3"></div>
                            <div class="slds-r4"></div>
                            <div class="slds-r5"></div>
                            <div class="slds-r6"></div>
                            <div class="slds-r7"></div>
                            <div class="slds-r8"></div>
                            <div class="slds-r9"></div>
                        </div>
                        <span class="slds-assistive-text">Open App Launcher</span>
                    </a>
                </div>
                <span class="slds-context-bar__label-action slds-context-bar__app-name">
         <span class="slds-truncate">Colliers</span>
      </span>
    </div>
  </div>
  <nav class="slds-context-bar__secondary" role="navigation">
    <ul class="slds-grid">
      <li class="slds-context-bar__item">
        <a href="demopage?id=0068E00000783a8" class="slds-context-bar__label-action" title="Home">
          <span class="slds-truncate">Allocation</span>
        </a>
      </li>
      <li class="slds-context-bar__item">
        <a href="CS_JobCostsControllerPage?id=0068E00000783a8"  class="slds-context-bar__label-action" title="Home">
          <span class="slds-truncate">Cost</span>
        </a>
      </li>
      <li class="slds-context-bar__item">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Home">
          <span class="slds-truncate">Accurals</span>
        </a>
      </li>
      <li class="slds-context-bar__item">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Home">
          <span class="slds-truncate">Journals</span>
        </a>
      </li>
      <li class="slds-context-bar__item">
        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Home">
          <span class="slds-truncate">Invoices</span>
        </a>
      </li>
      <li class="slds-context-bar__item">
        <a href="cs_CreditNotes?id=0068E00000783a8" class="slds-context-bar__label-action" title="Home">
          <span class="slds-truncate">Credit Notes</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<apex:insert name="body"/>

</apex:page>