<apex:page controller="cs_creditNotesController" showHeader="false"  title="Manage My Job"  >
   
    <head>

        <style>
       
            input[type="text"]{
                border: 1px solid #d8dde6 ;
                border-radius: 0.25rem;
                width: 95%;
                transition: border 0.1s linear, background-color 0.1s linear;
                display: inline-block;
                padding: 0 1rem 0 0.75rem;
                line-height: 1.875rem;
            }
            .dateFormat {
                display:none;
            }
             table.dataTable th{
                                    box-sizing: content-box;
                                    font-size: 0.75rem;
                                    line-height: 1.25;
                                    color: #54698d;
                                    text-transform: uppercase;
                                    letter-spacing: 0.0625rem;
                                 }
                                 
            
            
          .slds-page-header__detail-row {  
                background-color: steelblue;
            }
            .slds-page-header__title {    
                font-size: 1rem;
            }
            h1{
            color: white;
            }
           <!--  button {
                float: right;
            } -->
            .scrollStyle
            {
                overflow-x:auto;
            } 
            table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>td.sorting_asc:after {
                content: "";
            }
            table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_desc:after {
                content: "";
            }
            .slds-active{
                
                color:white;
            }
            .slds-tabs--default__item.slds-active .slds-tabs--default__link {
                border-color: #0070d2;
                color: white;
                background: steelblue;
                
                
            }
            .slds-tabs--default__item.slds-active .slds-tabs--default__link:focus {
              border-bottom-width: 3px;
              color: white; 
                
            } 
            table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>td.sorting:after {
                content: "";
                color: #ddd;
                font-size: 0.8em;
                padding-top: 0.12em;
            }
            
            .slds-spinner_container{
                position: fixed;
                width: 100%;
                height: 100%;
            }
           body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
                border: none;
                background-color: white;
                /* border-bottom: 1px solid #eaeaea; */
                /* border-left: 1px solid #eaeaea; */
                /* border-right: 1px solid #eaeaea; */
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                /* border-radius: 4px; */
            }
            td, body .bPageBlock .detailList tr th, body table.list tr td, body table.list tr th, body .hoverDetail .bPageBlock .detailList tr td, body .hoverDetail .bPageBlock .detailList tr th {
               
                border: none;
            }
             body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons {
                 border:none;
             }
             .bEditBlock .pbHeader>table, .apexp .bPageBlock.apexDefaultPageBlock .pbHeader>table, #ep.bLayoutBlock .pbHeader>table{
                 border:none;
             }
             body .bPageBlock .detailList tr td, body .bPageBlock .detailList tr th, body table.list tr td, body table.list tr th, body .hoverDetail .bPageBlock .detailList tr td, body .hoverDetail .bPageBlock .detailList tr th {
    border:none;
}
            </style>
                <apex:stylesheet value="{!URLFOR($Resource.lighteningDesignSystem, 'assets/styles/salesforce-lightning-design-system.css')}" />       
                <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/uikit.css" />
                <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/dataTables.uikit.min.css" />
                <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
                <apex:stylesheet value="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" />
                
                <apex:includescript value="https://code.jquery.com/jquery-1.12.3.js" / >
                <apex:includescript value="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js" />
                <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" />  
                <apex:includescript value="https://cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js" / >
                <apex:includescript value="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"/>
        </head>
       
    

        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="slds-m-around--medium"></div>
            </div><!-- /.container-fluid -->
        </nav>
        <body>
        <apex:form id="formIdcreditnote" >
             <div class="slds-page-header" role="banner">
                    <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
               
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__body">
                                    <ul class="slds-grid slds-page-header__detail-row">
                                                                
                                        <!--<apex:commandButton value="Back To Job" id="idCancel" action="{!cancel}" styleClass="slds-button slds-button--neutral slds-not-selected" immediate="
                                        true" style="margin-right:1vw;"/>-->  
                                        <apex:outputPanel id="jId"  layout="block">
                                            <apex:outputLink value="/{!jb.Id}" styleclass="slds-button slds-button--neutral slds-not-selected" style="margin-right:1vw;  " id="theLinksss" >Back To Job</apex:outputLink>
                                        </apex:outputPanel>
                                        
                                        <!--<apex:outputPanel id="jobRecId" rendered="{!isDisabled == true}" layout="block">
                                            <apex:outputLink value="/006" styleclass="slds-button slds-button--neutral slds-not-selected" style="margin-right:1vw;  " id="theLink" >Back To Jobs</apex:outputLink>
                                        </apex:outputPanel>-->
                           
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-page-header__title slds-align--absolute-center slds-text-heading--large"  title="this should match the Record Title">JOB DETAILS</h1>                    
                                    </li>
                           
                           
                                                          
                                </ul> 
                                <ul class="slds-grid slds-page-header__detail-row">
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Title:</h1>
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(jb.Name==null,'Unassigned',jb.Name)}</h1>            
                                    </li>
                            
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Number:</h1>
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(jb.Job_Number__c==null,'Unassigned',jb.Job_Number__c)}</h1>           
                                    </li>
                           
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Manager : </h1>  
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(jb.Manager__c==null,'Unassigned',jb.Manager__r.Name)}</h1>            
                                    </li>
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Instructing Company : </h1>  
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(jb.AccountId==null,'Unassigned',jb.Account.Name)}</h1>            
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="manageMyJobBody">
                <div class="slds-tabs--default">
                    <apex:outputPanel id="CS_ManageMyJob_Editable" layout="block">
                        <ul class="slds-tabs--default__nav" role="tablist">
                            <li class="slds-tabs--default__item slds-text-title--caps " title="Item One" role="presentation" >
                                <a class="slds-tabs--default__link" href="/apex/CS_ManageMyJobPage?id={!jb.id}" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-1" id="CS_ManageMyJob_tab-default-1__item" >Job Information</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps"  title="Item Two"  role="presentation" >
                                <a class="slds-tabs--default__link" href="/apex/CS_PropertyJnEditViewJM?id={!jb.id}" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-8" id="CS_ManageMyJob_tab-default-8__item">Properties</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Three" role="presentation" >
                                <a class="slds-tabs--default__link"  href="/apex/CS_allocationPage?id={!jb.id}"  role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-2" id="CS_ManageMyJob_tab-default-2__item">Allocations</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps"  title="Item Four" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/CS_JobCostsControllerPage?id={!jb.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-3" id="CS_ManageMyJob_tab-default-3__item" >Costs</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Five" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/cs_Accurals?id={!jb.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-4" id="CS_ManageMyJob_tab-default-4__item" >Accruals</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Six" role="presentation">
                                <a class="slds-tabs--default__link"  href="/apex/CS_JobInvoiceViewClone?id={!jb.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-5" id="CS_ManageMyJob_tab-default-5__item">Invoices</a>
                            </li>
                           <li class="slds-tabs--default__item slds-text-title--caps slds-active"   title="Item Seven" role="presentation">
                                <a class="slds-tabs--default__link" href="javascript:void(0);"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-6" id="CS_ManageMyJob_tab-default-6__item" >Credit Notes</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps"   title="Item Eigth" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/cs_journalPage?id={!jb.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-7" id="CS_ManageMyJob_tab-default-7__item" >Journals</a>
                            </li>
                        </ul>
                    </apex:outputPanel>
                </div>
            </div>
        <apex:outputPanel layout="block" id="CreditNoteModal">
            <apex:outputPanel layout="block" rendered="{!ObjModal.displayerror}" >
            <div role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal--prompt">
                <div class="slds-modal__container">
                    <div class="slds-modal__header {!IF(ObjModal.Title=='Error','slds-theme--error','slds-theme--success' )} slds-theme--alert-texture">
                        <h2 class="slds-text-heading--medium" id="prompt-heading-id">{!ObjModal.Title}</h2>
                    </div>
                    <div class="slds-modal__content slds-p-around--medium">
                        <apex:outputPanel layout="block" rendered="{!NOT(ObjModal.hasMore)}">
                            <div>
                            <p>{!ObjModal.Errormsg}</p>
                        </div>
                        </apex:outputPanel>
                        <apex:outputPanel layout="block" rendered="{!(ObjModal.hasMore)}">
                            <div>
                                <apex:repeat value="{!ObjModal.ErrorList}" var="e">
                            <p>{!e}</p>
                            </apex:repeat>
                        </div>
                        </apex:outputPanel>
                    </div>
                    <div class="slds-modal__footer slds-theme--default">
                        <button class="slds-button slds-button--neutral" onclick="close_ErrorModalCreditNote();return false">OK</button>
                    </div>
                </div>
            </div>
            <div class="slds-backdrop slds-backdrop--open"></div>
        </apex:outputPanel>
        </apex:outputPanel>
        <!-- <apex:outputPanel layout="block" id="cs_CreditNotes"> -->
        <!--<apex:pageMessages ></apex:pageMessages>-->
            <div id ="creditNotes">
                <div class="slds-m-around--medium">
                <div class="slds-text-heading--small" style="fontWeight:bold;"> Approved Invoices </div>
                </div>
                <div class="slds-m-top--medium"></div>
               
                <div class="slds-grid  slds-grid--pull-padded" style="padding-left:2vw;padding-right:2vw">
                    <div class=" slds-size--1-of-1 ">
                    <apex:outputPanel id="TableDetail" layout="block">
                        <table id="creditDetailsTable1" class="slds-table slds-table--bordered slds-table--cell-buffer" width="100%" cellpadding="0" cellspacing="0" border="0">
                            <thead >
                                <tr >
                                    <th >
                                    </th>
                                    <th  >
                                        Number
                                    </th>
                                    <th>Date</th>
                                   <!-- <th >
                                        Job No
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Manager
                                    </th>
                                    <th>
                                        Client Name
                                    </th>-->
                                    <th >
                                        Gross
                                    </th>
                                    <th >
                                        Net Fee
                                    </th>
                                    <th >
                                        Net Cost
                                    </th>
                                    <th >
                                        Status
                                    </th>
                                    <th >
                                        Type
                                    </th>
                                    <th>
                                        CN Count
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <apex:variable var="j" value="{!0}"/>
                                <apex:repeat value="{!LstCreditDetails}" var="inv" id="Rpt">
                                    <tr>
                                        <td>
                                        <apex:inputCheckbox id="chckbx" value="{!inv.isChecked}"  onclick="getInvoiceDetails({!j+1});" >
                                            <!--<apex:actionSupport event="onchange" action="{!fetchCreditNotesList}" rerender="creditNoteTableDetail" oncomplete="myfunction()" status="pageStatus">
                                                <apex:param name="invoicId" value="" />
                                            </apex:actionSupport> --> 
                                        </apex:inputCheckbox>
                                        </td>
                                        <!--<td>{!inv.invoice.name}</td>-->
                                        <td>{!inv.invoice.Assigned_Invoice_Number__c}</td>
                                        <td><apex:outputText value="{0,date,yyyy-MM-dd}"> <apex:param value="{!inv.invoice.Date_of_Invoice__c}" /> </apex:outputText></td>
                                        <!--<td>{!inv.invoice.Opportunity__r.Job_Number__c}</td>
                                        <td>{!inv.invoice.Opportunity__r.name}</td>
                                        <td>{!inv.invoice.Opportunity__r.Manager__r.name}</td>
                                        <td>{!inv.invoice.Opportunity__r.Account.Name}</td>-->
                                        <td>{!inv.invoice.Total_Amount_Inc_Vat__c}</td>
                                        <!--<td>{!inv.invoice.Total__c}</td>-->
                                        <td>{!inv.invoice.Total_Fee__c}</td>
                                        <td>{!inv.invoice.Total_cost__c}</td>
                                        <td>{!inv.invoice.Status__c}</td>
                                        <td>{!inv.isInternational}</td>
                                        <td>{!inv.CNcount}</td>
                                    </tr>
                                <apex:variable var="j" value="{!j+1}"/>
                                </apex:repeat>
                            </tbody>
                        </table>
                        </apex:outputPanel><!-- End Invoice Table -->
                    </div>
                    </div>
                   
                
                
                <div class="slds-m-top--medium"></div>
                
                <div class="slds-m-around--medium">
                <div class="slds-text-heading--small" style="fontWeight:bold;">Existing Credit Notes </div>
                </div>
                <!-- Credit NOte Table -->

                <div class="slds-grid  slds-grid--pull-padded" style="padding-left:2vw;padding-right:2vw">
                    <div class=" slds-size--1-of-1">
                    <apex:outputPanel id="creditNoteTableDetail" layout="block" >
                        <table id="creditDetailsTable2" class="slds-table slds-table--bordered slds-table--cell-buffer" width="100%" cellpadding="0" cellspacing="0" border="0" >
                            <thead >
                                <tr >
                                    <th  >
                                        Number
                                    </th>
                                    <th >
                                        Date
                                    </th>
                                    <th >
                                        Invoice Number
                                    </th>
                                    <!-- <th> -->
                                       <!-- VAT -->
                                    <!-- </th> -->
                                    <th>
                                        Gross
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th >
                                        Reason For Change
                                    </th>
                                    <th >
                                        Approved By
                                    </th>
                                    <th >
                                        Rejected By
                                    </th>
                                    <th >
                                        Rejected Reason
                                    </th>
                                     <th >
                                   </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <apex:variable var="j" value="{!0}"/>
                                <apex:repeat value="{!creditNotesLst}" var="cn" id="rpt1">
                                    <tr>
                                        <td><a href="/{!cn.id}">{!cn.Name}</a></td>
                                        <td><apex:outputText value="{0,date,yyyy-MM-dd}"> <apex:param value="{!cn.Approved_Date__c}" /> </apex:outputText></td>
                                        <!--<td>{!cn.Invoice__r.Name}</td>-->
                                        <td>{!cn.Invoice__r.Assigned_Invoice_Number__c}</td>
                                        <!-- <td>{!cn.VAT__c}</td> -->
                                        <td>{!cn.Gross_Amount__c}</td>
                                        <td>{!cn.Status__c}</td>
                                        <td>{!cn.CN_Reason__c}</td>
                                        <td>{!cn.Approved_By__c}</td>
                                        <td>{!cn.Rejected_By__c}</td>
                                        <td>{!cn.Rejected_Reason__c}</td>
                                        <td>
                                            <div class="slds-grid slds-grid--align-center">
                                                <apex:outputPanel layout="block" rendered="{!cn.Status__c=='Approved'}">
                                                    <button type="button" class="slds-button slds-button--neutral" onclick="getGeneratePDF('{!cn.Invoice__c}', '{!cn.id}')"  >Generate PDF</button>
                                                </apex:outputPanel>
                                            </div>
                                        </td>
                                    </tr>
                                <apex:variable var="j" value="{!j+1}"/>
                                </apex:repeat>
                            </tbody>
                        </table>
                        </apex:outputPanel><!-- End Credit Note Table -->
                    </div>
                    </div>
                   
                
              </div><!-- END Credit Notes -->
            <apex:outputPanel layout="block"  id="CreditNoteDetail" rendered="{!IF(stagestatus,false,true)}">
            <apex:outputPanel layout="block" rendered="{!NOT(isCanceled)}" >
            <div class="slds-m-around--medium">
            
                <apex:pageBlock >
                <!-- <apex:pageMessages id="cnErrMsg"></apex:pageMessages> -->
                    <div class="slds-text-heading--small" style="fontWeight:bold;"> Request Credit Note </div>
                    <div class="slds-m-top--x-large"></div>
                    <apex:actionstatus id="status2" startText="Refreshing..."></apex:actionstatus>
                    <apex:pageBlockButtons id="pbb1">

                        <apex:commandButton value="Send Credit Note Req" rendered="{!IF(stagestatus,false,true)}" styleClass="slds slds-button  slds-button--brand" id="saveForm" action="{!save}" style="margin-right:1vw;width:auto;font-size:12px" reRender="TableDetail,creditNoteTableDetail,CreditNoteModal" status="pageStatus" onclick="styleDatatable();" oncomplete="removeButtonClass();"/>
                       <!-- <apex:commandButton value="Cancel" id="idCancel" action="{!cancel}" styleClass="slds slds-button slds-button--destructive" style="margin-right:1vw;width:auto;font-size:12px"  immediate="true"/>-->
                        <apex:commandButton value="Cancel" id="idCancel" action="{!initCreditNotes}"  rendered="{!IF(stagestatus,false,true)}" oncomplete="renderfullcredit()" rerender="TableDetail,creditNotesDetail,creditNoteTableDetail, CreditNoteModal" immediate="true" status="pageStatus" styleClass="slds slds-button slds-button--destructive" style="font-size:14px" />
                    </apex:pageBlockButtons>
                    <div align="center">
                    <apex:outputpanel id="creditNotesDetail" layout="block">
                        <apex:pageBlocksection columns="2"> 

                            <apex:outputField value="{!creditDetailsWrap.invoice.Date_of_Invoice__c}" />

                            <apex:pageBlocksectionitem >
                                <apex:outputLabel value="Total Amount" />
                                <apex:outputField value="{!creditDetailsWrap.invoice.Total_Amount_Inc_Vat__c}"/>
                            </apex:pageBlockSectionItem>
                                <!--<apex:outputField value="{!creditDetailsWrap.invoice.name}" />-->
                                <apex:outputField value="{!creditDetailsWrap.invoice.Assigned_Invoice_Number__c}" />
                            <apex:pageBlocksectionitem >
                                <apex:outputLabel value="Reason For Cancellation" />
                                <apex:outputPanel layout="block">
                                <apex:inputField styleclass="slds-input" value="{!creditDetailsWrap.creditNotes.CN_Reason__c}" style="width: 95%;" />
                                <div class="errorMsg"><strong></strong>&nbsp;{!errorMsg_cancelReasons}</div></apex:outputPanel>
                            </apex:pageBlockSectionItem>
                            
                            <apex:pageBlocksectionitem >
                                <apex:outputLabel value="Job Number" />
                                <apex:outputField value="{!creditDetailsWrap.invoice.Opportunity__r.Job_Number__c}" />
                            </apex:pageBlockSectionItem>
                            
                            <apex:pageBlocksectionitem >
                                <apex:outputLabel value="Reissue Invoice?" />
                                <apex:selectRadio value="{!reissue}">
                                <apex:selectOptions value="{!items}"/>
                                </apex:selectRadio>
                            </apex:pageBlockSectionItem>

                            <apex:pageBlocksectionitem >
                                <apex:outputLabel value="Client Name" />
                                <apex:outputField value="{!creditDetailsWrap.invoice.Opportunity__r.Account.Name}" />
                            </apex:pageBlockSectionItem>

                            <!--<apex:pageBlocksectionitem >
                                <apex:outputLabel value="New Amount"/>
                                <apex:outputPanel layout="block">
                                <apex:inputField value="{!creditDetailsWrap.creditNotes.New_Invoice_Amount__c}" id="new_invoiceAmt"/>
                                <div class="errorMsg"><strong></strong>&nbsp;{!errorMsg_newAmt}</div></apex:outputPanel>
                            </apex:pageBlockSectionItem>-->

                            <apex:pageBlocksectionitem >
                                <apex:outputLabel value="Manager" />
                                <apex:outputField value="{!creditDetailsWrap.invoice.Opportunity__r.Manager__c}" />
                            </apex:pageBlockSectionItem>

                            <!--<apex:pageBlocksectionitem >
                                <apex:outputLabel value="Why the Amount Changed?" />
                                <apex:outputPanel layout="block">
                                <apex:inputText value="{!creditDetailsWrap.creditNotes.Reason_For_Amount_Changed__c}" disabled="{!stagestatus}" id="reason_forChange"/>
                                <div class="errorMsg"><strong></strong>&nbsp;{!errorMsg_reasonAmt}</div></apex:outputPanel>
                            </apex:pageBlockSectionItem>-->
                            
                          <!--  <apex:pageBlocksectionitem >
                                <apex:outputLabel value="Job Manager Allocation" />
                                <apex:outputText value="{!jobManager}"/>
                                </apex:pageBlockSectionItem> -->

                        </apex:pageBlocksection>
                    </apex:outputPanel>
                    </div>
                </apex:pageBlock>
            </div>
            </apex:outputPanel>
            </apex:outputPanel>
            

            <apex:actionFunction name="getInvoiceDetails" action="{!fetchInvoiceDetails}" rerender="TableDetail,CreditNoteDetail,creditNotesDetail,creditNoteTableDetail,creditDetailsTable2, CreditNoteModal" oncomplete="myCreditNotefunction()" status="pageStatus">
                <apex:param name="invId" value="" assignTo="{!detailWrpId}"/>
            </apex:actionFunction>
            
            <apex:actionFunction name="getGeneratePDF" action="{!GenerateCreditNotePDf}" rerender="CS_JobInvoiceView_PageURL_Panel" oncomplete="myCreditNotefunction();CS_JobInvoiceView_OpenPDF();" status="pageStatus">
                <apex:param name="creditNote" value="" assignTo="{!invoicPdfId}"/>
                <apex:param name="creditNoteId" value="" assignTo="{!creditPDFId}"/>
            </apex:actionFunction>
            <apex:actionFunction name="close_ErrorModalCreditNote" action="{!close_ErrorModal}"  status="pageStatus" rerender="CreditNoteModal" ></apex:actionFunction>
            <!--<apex:actionFunction name="getCreditNotesLst" action="{!fetchCreditNotesList}" rerender="CreditNoteDetail,creditNoteTableDetail, cnErrMsg" oncomplete="myCreditNotefunction()" status="pageStatus">
                <apex:param name="invoicId" value="" assignTo="{!invoiceId}"/>
            </apex:actionFunction>--->
            <apex:actionStatus id="pageStatus">
               <apex:facet name="start">
                   <apex:outputPanel >
                        <div class="slds-spinner_container hide-class" id="spinner-journal" >
                             <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                                <div class="slds-spinner__dot-a"></div>
                                <div class="slds-spinner__dot-b"></div>
                             </div>
                        </div>
                    </apex:outputPanel>
                </apex:facet>
           </apex:actionStatus>
            <!---<apex:actionStatus id="pageStatus">
                   <apex:facet name="start">
                       <apex:outputPanel >
                           <img src="/img/loading32.gif" width="25" height="25" style="   width:50px;        height: 50px;        position: fixed;        top: 50%;        left: 50%;" />
                           <apex:outputLabel value="Loading..." />
                       </apex:outputPanel>
                   </apex:facet>
               </apex:actionStatus>-->
               <!-- Added By: Jyoti / 24-10-2016 -->
               <apex:actionFunction name="callCreditNote" action="{!initCreditNotes}" ReRender="formIdcreditnote" oncomplete="styleDatatable();" status="pageStatus"/>
               <apex:actionFunction name="MainPageCreditNoteFunction" action="{!initCreditNotes}" ReRender="formIdcreditnote" oncomplete="styleDatatable();" status="pageStatus"/>
            <!-- </apex:outputPanel> -->
            
             <apex:outputpanel id="CS_JobInvoiceView_PageURL_Panel">
            <script>
            
           function CS_JobInvoiceView_OpenPDF()
           {
           var strurl='{!pdfPageURLString}';
           var win = window.open(strurl, '_blank');
            win.focus();
           
           }
           </script>
        </apex:outputpanel>
        </apex:form>  
        
          <script>

                 $(document).ready( function () {
                     
                    
                    
                    myCreditNotefunction();
                    //callCreditNote();  Added By: Jyoti / 24-10-2016 -->
                    //getCreditNotesLst();
                    
                    if({!stagestatus}){
                       $('input[name$="reason_forChange"]').attr('disabled','disabled');
                       $('input[name$="new_invoiceAmt"]').attr('disabled','disabled');
                    }
                    
                   /* if (!$.fn.DataTable.isDataTable('[id$="creditDetailsTable2"]')){
                         var table2= $('[id$="creditDetailsTable2"]').DataTable({
                        //scrollY:        "100%",
                        //scrollCollapse: true,
                        "paging": true
                        });
                       
                    } */
                    
                    
                });
                function renderfullcredit(){
                    myCreditNotefunction();
                    callCreditNote(); 
                    if({!stagestatus}){
                       $('input[name$="reason_forChange"]').attr('disabled','disabled');
                       $('input[name$="new_invoiceAmt"]').attr('disabled','disabled');
                    }  
                }
                function myCreditNotefunction(){
                    if (!$.fn.DataTable.isDataTable('[id$="creditDetailsTable1"]')){
                         var table1= $('[id$="creditDetailsTable1"]').DataTable({
                        scrollY:        "100%",
                        scrollCollapse: true,
                        "paging": true
                        });
                       
                    }   
                    
                    if (!$.fn.DataTable.isDataTable('[id$="creditDetailsTable2"]')){
                         var table2= $('[id$="creditDetailsTable2"]').DataTable({
                        scrollY:        "100%",
                        scrollCollapse: true,
                        "paging": true
                        });
                       
                    }       
                    $('.slds-button').removeClass('btn');
               }
                
                //[SG: 13/10/2016: Removed ScrollY ]
                function removeButtonClass(){
                   $('.slds-button').removeClass('btn');
                   myCreditNotefunction();
                   if (!$.fn.DataTable.isDataTable('[id$="creditDetailsTable2"]')){
                         var table2= $('[id$="creditDetailsTable2"]').DataTable({
                        scrollY:        "100%",
                        scrollCollapse: true,
                        "paging": true
                        });
                       
                    } 
               }
               
               function styleDatatable(){
                   myCreditNotefunction();
                   if (!$.fn.DataTable.isDataTable('[id$="creditDetailsTable2"]')){
                         var table2= $('[id$="creditDetailsTable2"]').DataTable({
                        scrollY:        "100%",
                        scrollCollapse: true,
                        "paging": true
                        });
                       
                    } 
                   
               }
        
        </script>
    </body>
   
</apex:page>