<apex:page controller="CS_JobCostsController" standardStylesheets="true" showHeader="false" title="Manage My Job" >
    <head>
        <style>                                  
            input[type="text"]{
            border: 1px solid #d8dde6 ;
            border-radius: 0.25rem;
            width: 95%;
            transition: border 0.1s linear, background-color 0.1s linear;
            display: inline-block;
            padding: 0 1rem 0 0.75rem;
            line-height: 1.875rem;       
            }   
            textarea{
            border: 1px solid #d8dde6 ;
            border-radius: 0.25rem;
            }
            .textarea-height-control{
            height:62px;
            }
            #coststable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_desc:after{
            content: "";
            }
            #coststable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>td.sorting_asc:after {
            content: "";
            }
            #coststable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>td.sorting_asc:after {
            content: "";
            }
            #coststable thead>tr>th.sorting:after, table.dataTable thead>tr>td.sorting:after {
            content: "";
            color: #ddd;
            font-size: 0.8em;
            padding-top: 0.12em;
            }
            table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>td.sorting_asc:after {
            content: "";
            }
            .dataCol span select{
            background-color: white;
            color: #16325c;
            border: 1px solid #d8dde6;
            border-radius: 0.25rem;
            width: 100%;
            transition: border 0.1s linear, background-color 0.1s linear;
            height: calc(1.875rem + (1px * 2));
            }.slds-page-header__detail-row {  
                background-color: steelblue;
            }
            .slds-page-header__title {    
                font-size: 1rem;
                display:inline;
            }
            h1{
            color: white;
            }
           <!--  button {
                float: right;
            } -->
            .scrollStyle
            {
                overflow-x:auto;
            } 
            table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>td.sorting_asc:after {
                content: "";
            }
            table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_desc:after {
                content: "";
            }
            .slds-active{
                
                color:white;
            }
            .slds-tabs--default__item.slds-active .slds-tabs--default__link {
                border-color: #0070d2;
                color: white;
                background: steelblue;
                
                
            }
            .slds-tabs--default__item.slds-active .slds-tabs--default__link:focus {
              border-bottom-width: 3px;
              color: white; 
                
            } 
            table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>td.sorting:after {
                content: "";
                color: #ddd;
                font-size: 0.8em;
                padding-top: 0.12em;
            }
            
            .slds-spinner_container{
                position: fixed;
                width: 100%;
                height: 100%;
            }
            h1, h2, h3, h4, h5, h6 {
                
                display: inline !important;
            }
            body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
                border: none;
                background-color: white;
                /* border-bottom: 1px solid #eaeaea; */
                /* border-left: 1px solid #eaeaea; */
                /* border-right: 1px solid #eaeaea; */
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                /* border-radius: 4px; */
            }
            td, body .bPageBlock .detailList tr th, body table.list tr td, body table.list tr th, body .hoverDetail .bPageBlock .detailList tr td, body .hoverDetail .bPageBlock .detailList tr th {
               
                border: none;
            }
             body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons {
                 border:none;
             }
             .bEditBlock .pbHeader>table, .apexp .bPageBlock.apexDefaultPageBlock .pbHeader>table, #ep.bLayoutBlock .pbHeader>table{
                 border:none;
             }
             body .bPageBlock .detailList tr td, body .bPageBlock .detailList tr th, body table.list tr td, body table.list tr th, body .hoverDetail .bPageBlock .detailList tr td, body .hoverDetail .bPageBlock .detailList tr th {
    border:none;
}
.dateFormat{
    display:none;
}
                        
        </style>
            <apex:stylesheet value="{!URLFOR($Resource.lighteningDesignSystem, 'assets/styles/salesforce-lightning-design-system.css')}" />       
            <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/uikit.css" />
            <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/dataTables.uikit.min.css" />
            <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
            <apex:stylesheet value="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" />
            
            <apex:includescript value="https://code.jquery.com/jquery-1.12.3.js" / >
            <apex:includescript value="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js" />
            <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" />  
            <apex:includescript value="https://cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js" / >
            <apex:includescript value="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"/>
    </head>
    <body>
        <apex:form id="CostForm" >
           
                <div class="slds-page-header" role="banner">
                    <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
               
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__body">
                                    <ul class="slds-grid slds-page-header__detail-row">
                                                                
                                        <!--<apex:commandButton value="Back To Job" id="idCancel" action="{!cancel}" styleClass="slds-button slds-button--neutral slds-not-selected" immediate="
                                        true" style="margin-right:1vw;"/>-->  
                                        <apex:outputPanel id="jId"  layout="block">
                                            <apex:outputLink value="/{!oppobject.Id}" styleclass="slds-button slds-button--neutral slds-not-selected" style="margin-right:1vw;  " id="theLinksss" >Back To Job</apex:outputLink>
                                        </apex:outputPanel>
                                        
                                        <!--<apex:outputPanel id="jobRecId" rendered="{!isDisabled == true}" layout="block">
                                            <apex:outputLink value="/006" styleclass="slds-button slds-button--neutral slds-not-selected" style="margin-right:1vw;  " id="theLink" >Back To Jobs</apex:outputLink>
                                        </apex:outputPanel>-->
                           
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-page-header__title slds-align--absolute-center slds-text-heading--large"  title="this should match the Record Title">JOB DETAILS</h1>                    
                                    </li>
                           
                           
                                                          
                                </ul> 
                                <ul class="slds-grid slds-page-header__detail-row">
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Title:</h1>
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(oppobject.Name==null,'Unassigned',oppobject.Name)}</h1>            
                                    </li>
                            
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Number:</h1>
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(oppobject.Job_Number__c==null,'Unassigned',oppobject.Job_Number__c)}</h1>           
                                    </li>
                           
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Manager : </h1>  
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(oppobject.Manager__c==null,'Unassigned',oppobject.Manager__r.Name)}</h1>            
                                    </li>
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Instructing Company : </h1>  
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(oppobject.AccountId==null,'Unassigned',oppobject.Account.Name)}</h1>            
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="manageMyJobBody">
                <div class="slds-tabs--default">
                    <apex:outputPanel id="CS_ManageMyJob_Editable" layout="block">
                        <ul class="slds-tabs--default__nav" role="tablist">
                           <li class="slds-tabs--default__item slds-text-title--caps " title="Item One" role="presentation" >
                                <a class="slds-tabs--default__link" href="/apex/CS_ManageMyJobPage?id={!oppobject.id}" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-1" id="CS_ManageMyJob_tab-default-1__item" >Job Information</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps"  title="Item Two"  role="presentation" >
                                <a class="slds-tabs--default__link" href="/apex/CS_PropertyJnEditViewJM?id={!oppobject.id}" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-8" id="CS_ManageMyJob_tab-default-8__item">Properties</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Three" role="presentation" >
                                <a class="slds-tabs--default__link" href="/apex/CS_allocationPage?id={!oppobject.id}" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-2" id="CS_ManageMyJob_tab-default-2__item">Allocations</a>
                            </li>
                           <li class="slds-tabs--default__item slds-text-title--caps slds-active"  title="Item Four" role="presentation">
                                <a class="slds-tabs--default__link" href="javascript:void(0);"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-3" id="CS_ManageMyJob_tab-default-3__item" >Costs</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Five" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/cs_Accurals?id={!oppobject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-4" id="CS_ManageMyJob_tab-default-4__item" >Accruals</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Six" role="presentation">
                                <a class="slds-tabs--default__link"  href="/apex/CS_JobInvoiceViewClone?id={!oppobject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-5" id="CS_ManageMyJob_tab-default-5__item">Invoices</a>
                            </li>
                           <li class="slds-tabs--default__item slds-text-title--caps "   title="Item Seven" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/cs_CreditNotes?id={!oppobject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-6" id="CS_ManageMyJob_tab-default-6__item" >Credit Notes</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "   title="Item Eigth" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/cs_journalPage?id={!oppobject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-7" id="CS_ManageMyJob_tab-default-7__item" >Journals</a>
                            </li>
                        </ul>
                    </apex:outputPanel>
                </div>
            </div> 
            <!-- <div class="slds-spinner_container hide-class" id="spinner-div" > -->
            <!-- <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert"> -->
            <!-- <div class="slds-spinner__dot-a"></div> --> 
            <!-- <div class="slds-spinner__dot-b"></div> -->
            <!-- </div> -->
            <!-- </div> -->
            <apex:outputPanel layout="block" id="hiddenblockcost">
                <!--<apex:pagemessages />-->
                
               <apex:outputPanel layout="block" rendered="{!ObjModal.displayerror}" >
                    <div role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal--prompt">
                        <div class="slds-modal__container">
                            <div class="slds-modal__header {!IF(ObjModal.Title=='Error','slds-theme--error','slds-theme--success' )} slds-theme--alert-texture">
                                <h2 class="slds-text-heading--medium" id="prompt-heading-id">{!ObjModal.Title}</h2>
                            </div>
                            <div class="slds-modal__content slds-p-around--medium">
                                <apex:outputPanel layout="block" rendered="{!NOT(ObjModal.hasMore)}">
                                    <div>
                                    <p>{!ObjModal.Errormsg}</p>
                                </div>
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" rendered="{!(ObjModal.hasMore)}">
                                    <div>
                                        <apex:repeat value="{!ObjModal.ErrorList}" var="e">
                                    <p>{!e}</p>
                                    </apex:repeat>
                                </div>
                                </apex:outputPanel>
                            </div>
                            <div class="slds-modal__footer slds-theme--default">
                                <button class="slds-button slds-button--neutral" onclick="close_ErrorModal();return false">OK</button>
                            </div>
                        </div>
                    </div>
                    <div class="slds-backdrop slds-backdrop--open"></div>
                </apex:outputPanel>
            
            </apex:outputPanel>
            <div id ="costdetail" >
                <apex:outputPanel id="TableDetail">
                    <!-- rerendered={!renderValue}-->  
                    <div class="slds-grid slds-wrap slds-grid--pull-padded" style="padding-left:1vw;padding-right:1vw">
                        <div class="slds-p-horizontal--small slds-size--1-of-1">
                            <apex:outputPanel >
                                <table id="coststable" class="uk-table uk-table-hover uk-table-striped"  width="100%" >
                                    <thead>
                                        <tr class="slds-text-title--caps">
                                            <th >
                                            </th>
                                             <th >
                                                 Job No
                                            </th>
                                            <th > 
                                                Created For
                                            </th>
                                            <th > 
                                                Description
                                            </th>
                                            <th > 
                                                Category/Sub Category
                                            </th>
                                            <th > 
                                                Purchase Date
                                            </th>
                                            <th > 
                                                Purchase Cost
                                            </th>
                                            <th > 
                                                Recharge Cost
                                            </th>
                                            <th > 
                                                Status
                                            </th>
                                            <th > 
                                                 VAT
                                            </th>
                                            <th > 
                                                Invoice ID
                                            </th>
                                            <!--<th > 
                                                Action
                                            </th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:variable var="j" value="{!0}"/>
                                        <apex:repeat value="{!lstCostWrapper}" var="costObjlst" id="Rpt">
                                            <tr>
                                                <td>
                                                    
                                                        <apex:inputCheckbox id="chckbx" value="{!costObjlst.isChecked}" rendered="{!IF(OR(costObjlst.costObject.Status__c !='Invoiced',costObjlst.costObject.Credit_Noted__c) ,true,false)}" disabled="{!OR(stagestatus,costObjlst.costObject.Credit_Noted__c,costObjlst.costObject.Status__c == 'Included on Draft')}" onclick="render({!j+1});return false;"/>
                                                   
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!jobObject.Job_Number__c}" />
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!costObjlst.costObject.Created_For__r.Name}" />
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!costObjlst.costObject.Description__c}"/>
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!costObjlst.costObject.Category__c} / {!costObjlst.costObject.Sub_Category__c}" />
                                                    
                                                </td>
                                                <!--<td>{!costObjlst.costObject.Sub_Category__c}
                                                    </td>-->
                                                <td>
                                                    
                                                        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                                                            <apex:param value="{!costObjlst.costObject.Purchase_Date__c}" />
                                                        </apex:outputText>
                                                    
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!costObjlst.costObject.Purchase_Cost__c}" />
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!costObjlst.costObject.Recharge_Cost__c}"/>
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!costObjlst.costObject.Status__c}"/>
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!costObjlst.costObject.vatamt__c}"/>
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!costObjlst.costObject.Invoiceid__r.Assigned_Invoice_Number__c}"/>
                                                </td>
                                                <!--<td>
                                                   
                                                        <apex:commandLink value="Delete" onclick="if(!confirm('Are you want to delete this record?')){return false};" action="{!deleteRow}" rendered="{!IF(AND(costObjlst.costObject.Status__c!=$Label.Disbursementstatus,costObjlst.costObject.id!=null,stagestatus != true),true,false)}" rerender="detailCostForm,TableDetail" oncomplete="myfunctionCost();" immediate="true" html-formnovalidate="formnovalidate" status="status2" >
                                                            <apex:param value="{!costObjlst.wrapperId}" name="deletedID" />
                                                        </apex:commandLink>
                                                    
                                                </td>-->
                                            </tr>
                                            <apex:variable var="j" value="{!j+1}"/>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </apex:outputPanel>
                        </div>
                    </div>
                </apex:outputPanel>
                <apex:actionFunction name="close_ErrorModal" action="{!close_ErrorModal}" oncomplete="myfunctionCost();checkdisable();showpanel();" status="status2" rerender="hiddenblockcost" ></apex:actionFunction>
                <apex:actionFunction action="{!detailJob}" name="DeleteQuoteLineItem" oncomplete="myfunctionCost();checkdisable();showpanel();" rerender="detailCostForm,TableDetail,hiddenblockcost" status="status2">
                    <apex:param name="wprId" value="" assignTo="{!detailWrpId}"/>
                </apex:actionFunction>
                <apex:actionFunction action="{!renderpanel}" name="callcontrollermethod" oncomplete="myfunctionCost();" rerender="detailCostForm,hiddenblockcost" status="status2" immediate="true">
                    <apex:param name="checkedvalue" value="" />
                </apex:actionFunction>
                <apex:actionFunction name="cUpdateInvoiceDetail" action="{!UpdateInvoiceDetail}" rerender="detailCostForm" status="status2" oncomplete="checkdisable();"></apex:actionFunction>
                <apex:actionFunction name="updateRechargeCost" action="{!UpdateRechargeCost}" rerender="detailCostForm" status="status2"  oncomplete="checkdisable();" />
                <apex:actionFunction name="UpdateAllocations" action="{!allocationlist}" rerender="detailCostForm" status="status2" oncomplete="checkdisable();"  ></apex:actionFunction>
            </div>
            <div style="padding-left:13px">
                <!-- <apex:commandButton value="New Cost" styleClass="slds slds-button  slds-button--neutral"  id="newjob" action="{!newJobb}" onclick="showpanel();" rerender="TableDetail,hiddenblockcost" oncomplete="myfunctionCost()" status="status2" />                        -->
                <apex:commandButton value="Create new cost" styleClass="slds slds-button  slds-button--neutral" rendered="{!IF(stagestatus,false,true)}"  id="newjob" action="{!newJobb}" onclick="showpanel();" rerender="TableDetail,hiddenblockcost,detailCostForm" oncomplete="myfunctionCost()" status="status2" />
            </div>
            <apex:actionStatus id="status2">
                <apex:facet name="start">
                    <div class="slds-spinner_container hide-class"  >
                        <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            <div id="detailsform" align="center">
                <apex:pageBlock >
                    <apex:pageBlockButtons id="pbb1" location="top" >
                        <apex:outputpanel rendered="{!IF(stagestatus,false,true)}">
                            <apex:commandButton value="Save Cost"   id="saveForm" styleClass="slds slds-button  slds-button--brand" action="{!save}"  rerender="TableDetail,detailCostForm,hiddenblockcost" oncomplete="myfunctionCost()"  style="" status="status2"/>
                            <apex:commandButton value="Save and New" id="addRow" styleClass="slds slds-button  slds-button--brand"  action="{!saveAndNew}" rerender="detailCostForm,TableDetail,hiddenblockcost" oncomplete="myfunctionCost()" style="" status="status2" />
                            <apex:commandButton value="Cancel" id="idCancel" onclick="hidedetail();" styleClass="slds slds-button slds-button--destructive"   action="{!initCost}" ReRender="TableDetail,detailCostForm"  oncomplete="myfunctionCost();"  status="status2" />
                        </apex:outputpanel>
                    </apex:pageBlockButtons>
                    <apex:outputpanel layout="block" id="detailCostForm" >
                        <apex:outputpanel >
                            <apex:pageBlocksection columns="2">
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Raised For" />
                                    <apex:selectList styleClass="slds-select" size="1" value="{!costdetailwrper.costObject.Created_For__c}" onchange="UpdateAllocations();">
                                        <apex:selectOptions value="{!RiasedForOpts}"></apex:selectOptions>
                                    </apex:selectList>
                                    <!--     <apex:inputField value="{!costdetailwrper.costObject.Created_For__c}" id="memNam" >
                                        <c:autoComplete_jobManage autocomplete_textbox="{!$Component.memNam}" objectname="Staff__c" />
                                        </apex:inputField>-->
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Recoverable" ></apex:outputLabel>
                                    <apex:inputField id="RecoverageCheckBox" value="{!costdetailwrper.costObject.Recoverable__c}" onclick="DisableRecharge();" />
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Allocation" />
                                    <apex:selectList value="{!costdetailwrper.costObject.Allocation__c}"  size="1" styleClass="slds-select">
                                        <apex:selectOptions value="{!AllocationOpts}"/>
                                    </apex:selectList>
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Purchase Date" />
                                    <apex:inputField value="{!costdetailwrper.costObject.Purchase_Date__c}"  />
                                </apex:pageBlockSectionItem>
                                <!--<apex:pageBlocksectionitem rendered="{!IF(costdetailwrper.rendervalue,false,true)}" >
                                    <apex:outputLabel value="International CCY" />
                                    <apex:inputtext value="{!costdetailwrper.costObject.CurrencyIsoCode}" />
                                    </apex:pageBlockSectionItem>-->
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Category" />
                                    <apex:inputField value="{!costdetailwrper.costObject.Category__c}" styleClass="slds-select"/>
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Purchase Cost" />
                                    <apex:inputField id="CostPurchasecost" value="{!costdetailwrper.costObject.Purchase_Cost__c}" onkeyup="updateCostflag();"  onchange="UpdateRecharge(this.value);" />
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem id="SubcatPBsection" >
                                    <apex:outputLabel value="Sub Category" />
                                    <apex:inputField id="subcat" value="{!costdetailwrper.costObject.Sub_Category__c}" styleClass="slds-select"/>
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Recharge Cost" />
                                    <apex:inputField id="rechargeCostfield" value="{!costdetailwrper.costObject.Recharge_Cost__c}" />
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem >
                                </apex:pageBlockSectionItem> 
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Description (Internal)" />
                                    <apex:inputField id="CostDescription" value="{!costdetailwrper.costObject.Description__c}"  onkeyup="updateCostflag();"  onchange="UpdateInvoiceDetail(this.value);" onBlur="UpdateInvoiceDetail(this.value);" />
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem >
                                </apex:pageBlockSectionItem>
                                <apex:pageBlocksectionitem >
                                    <apex:outputLabel value="Invoice Detail" />
                                    <apex:inputField id="invdetailtext" styleClass="textarea-height-control" value="{!costdetailwrper.costObject.Invoice_Details__c}" />
                                </apex:pageBlockSectionItem>
                            </apex:pageBlocksection>
                        </apex:outputpanel>
                    </apex:outputPanel>
                    <apex:pageBlockButtons id="pbb" location="bottom" >
                        <apex:commandButton value="Save Cost"  id="saveForm" styleClass="slds slds-button  slds-button--brand" action="{!save}"  rerender="TableDetail,detailCostForm,hiddenblockcost" oncomplete="myfunctionCost()"  style="" status="status2"/>
                        <apex:commandButton value="Save and New" id="addRow" styleClass="slds slds-button  slds-button--brand"  action="{!saveAndNew}" rerender="detailCostForm,TableDetail,hiddenblockcost" oncomplete="myfunctionCost()" style="" status="status2" />
                        <apex:commandButton value="Cancel" id="idCancel" onclick="hidedetail();" styleClass="slds slds-button slds-button--destructive"   action="{!initCost}" ReRender="TableDetail,detailCostForm"  oncomplete="myfunctionCost();"  status="status2" />
                    </apex:pageBlockButtons>
                </apex:pageBlock>
            </div>
            <!-- Added By : Jyoti/24-10-2016 -->
            <apex:actionFunction name="callCost" action="{!initCost}" ReRender="TableDetail,detailCostForm"  oncomplete="initialcostrender()();" status="status2"/>
            <apex:actionFunction name="MainPageCostFunction" action="{!initCost}" ReRender="CostForm"  oncomplete="initialcostrender();" status="MainJobPageStatus"/>
            <script>
            var costflagpc, costflagdescr, costflag;
                var pagerPage = 0;
                function callaction(ele){
                    callcontrollermethod(ele);
                }
                function render(ele){
                  pagerPage = $('#coststable').DataTable().page.info().page;
                  console.log(pagerPage);
                  DeleteQuoteLineItem(ele);
                
                }
                
                function getPage(){
                      
                      var oTable = $('#coststable').dataTable();
                      oTable.fnPageChange(pagerPage,true);
                };
                  
                  function myfunctionCost(){
                  
                     if (!$.fn.DataTable.isDataTable($('[id$="coststable"]'))){
                      var contactTable = $('[id$="coststable"]').DataTable({
                         // "scrollY":        "30vh",
                             "scrollX":        true,
                              "scrollCollapse": true,
                             "paging": true,
                             
                      });
                      
                      }
                      getPage();
                  $('.slds-button').removeClass('btn');
                   $("select[id*='subcat']").addClass('slds-select');
                  
                      }
                      
                   function initialcostrender(){
                        myfunctionCost();
                        hidedetail();
                   }    
                      
                      
                      
                      function cancel(){
                          if (!$.fn.DataTable.isDataTable($('[id$="coststable"]'))){
                      var contactTable = $('[id$="coststable"]').DataTable({
                        // "scrollY":        "30vh",
                            "sScrollX": "100%", 
                             "scrollX":        true,
                              "scrollCollapse": true,
                             "paging": true,
                             
                      });
                      
                      }
                      getPage();
                      $('.slds-button').removeClass('btn');
                      }
                      function cancelcost(){
                          $('#detailsform').hide();
                          callCost();
                      }
                      
                  function showpanel(){
                       $('#detailsform').show();
                      
                  }
                  
                  // Logic to disable recharge cost input field
                  function UpdateRecharge(value){
                      if($("input[id*='RecoverageCheckBox']")){
                           if($("input[id*='RecoverageCheckBox']")[0].checked){
                                  $("input[id*='rechargeCostfield']").val(value);
                           }
                         
                          
                      }
                    
                   //  updateRechargeCost();
                     
                  }
                  
                    function DisableRecharge(){
                      checkdisable();
                     
                  }
                
                
                  
                  function UpdateInvoiceDetail(value){
                      
                         // UpdateInvoiceDetail();
                         $("textarea[id*='invdetailtext']").val(value);
                      
                  }
                       
                  function checkdisable(){
                  if($("input[id*='RecoverageCheckBox']")){
                       if($("input[id*='RecoverageCheckBox']")[0].checked){
                           $("input[id*='rechargeCostfield']").prop("disabled",false);
                           $("input[id*='rechargeCostfield']").removeClass('slds-is-disabled');
                          
                      }
                      else{
                          $("input[id*='rechargeCostfield']").prop("disabled",true);
                          $("input[id*='rechargeCostfield']").addClass('slds-is-disabled');
                          $("input[id*='rechargeCostfield']").val(0);
                      }
                  }
                  }
                  
                  
                  $(document).ready( function () {             
                       myfunctionCost();
                       //callCost(); // Added By : Jyoti/24-10-2016
                
                       $('#detailsform').hide();
                       $('.dummy1').click();
                       $("select[id*='subcat']").addClass('slds-select');
                       costflag = false;
                       
                       
                       
                      
                      
                       $( "body" ).mousemove(function( event ) {
                          if(costflagdescr){
                              costflagdescr=false;
                              UpdateInvoiceDetail($("textarea[id*='CostDescription']").val());
                          }
                          if(costflagdescr){
                              costflagdescr=false; 
                              console.log($("input[id*='CostPurchasecost']").val());
                              UpdateRecharge($("input[id*='CostPurchasecost']").val());
                          }
                      });
                   
                  });
                  
                    
                  function updateCostflag(){
                      costflagdescr=true;costflagpc=true;
                  }
                  
                  function CallDisableRecharge(){
                      if(costflagpc){
                          costflagpc=false;
                          DisableRecharge();
                      }
                  }
                 
                  
                  function subcatload(){
                      $("select[id*='subcat']").addClass('slds-select');
                  }
                  
                  function hidedetail(){
                      $('#detailsform').hide();
                  }
                  
                
            </script>
        </apex:form>
    </body>
</apex:page>