<apex:page controller="cs_journalsController" standardStylesheets="true"  showHeader="false">
   
    <head>
        <style>
       
            
            input[type="text"]{
                border: 1px solid #d8dde6 ;
                border-radius: 0.25rem;
                width: 95%;
                transition: border 0.1s linear, background-color 0.1s linear;
                display: inline-block;
                padding: 0 1rem 0 0.75rem;
                line-height: 1.875rem;
            }
            .dateFormat {
                display:none;
            }
             #cs_journalPage.table.dataTable th{
                                    box-sizing: content-box;
                                    font-size: 0.75rem;
                                    line-height: 1.25;
                                    color: #54698d;
                                    text-transform: uppercase;
                                    letter-spacing: 0.0625rem;
                                 }
                                 
            
            .slds-page-header__detail-row {  
                background-color: steelblue;
            }
            .slds-page-header__title {    
                font-size: 1rem;
            }
            h1{
            color: white;
            }
           <!--  button {
                float: right;
            } -->
            .scrollStyle
            {
                overflow-x:auto;
            } 
            table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>td.sorting_asc:after {
                content: "";
            }
            table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_desc:after {
                content: "";
            }
            .slds-active{
                
                color:white;
            }
            .slds-tabs--default__item.slds-active .slds-tabs--default__link {
                border-color: #0070d2;
                color: white;
                background: steelblue;
                
                
            }
            .slds-tabs--default__item.slds-active .slds-tabs--default__link:focus {
              border-bottom-width: 3px;
              color: white; 
                
            } 
            table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>td.sorting:after {
                content: "";
                color: #ddd;
                font-size: 0.8em;
                padding-top: 0.12em;
            }
            
            .slds-spinner_container{
                position: fixed;
                width: 100%;
                height: 100%;
            }
            body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
                border: none;
                background-color: white;
                /* border-bottom: 1px solid #eaeaea; */
                /* border-left: 1px solid #eaeaea; */
                /* border-right: 1px solid #eaeaea; */
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                /* border-radius: 4px; */
            }
            td, body .bPageBlock .detailList tr th, body table.list tr td, body table.list tr th, body .hoverDetail .bPageBlock .detailList tr td, body .hoverDetail .bPageBlock .detailList tr th {
               
                border: none;
            }
             body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons {
                 border:none;
             }
             .bEditBlock .pbHeader>table, .apexp .bPageBlock.apexDefaultPageBlock .pbHeader>table, #ep.bLayoutBlock .pbHeader>table{
                 border:none;
             }
             body .bPageBlock .detailList tr td, body .bPageBlock .detailList tr th, body table.list tr td, body table.list tr th, body .hoverDetail .bPageBlock .detailList tr td, body .hoverDetail .bPageBlock .detailList tr th {
    border:none;
}
.slds-modal{
    display:none;
}
           
            </style>
                <apex:stylesheet value="{!URLFOR($Resource.lighteningDesignSystem, 'assets/styles/salesforce-lightning-design-system.css')}" />       
                <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/uikit.css" />
                <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/dataTables.uikit.min.css" />
                <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
                <apex:stylesheet value="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" />
                
                <apex:includescript value="https://code.jquery.com/jquery-1.12.3.js" / >
                <apex:includescript value="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js" />
                <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" />  
                <apex:includescript value="https://cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js" / >
                <apex:includescript value="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"/>
        
    </head>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="slds-m-around--medium"></div>
        </div><!-- /.container-fluid -->
    </nav>
    <body>
        <apex:form id="formId" >
            <div class="slds-page-header" role="banner">
                    <div class="slds-grid">
                        <div class="slds-col slds-has-flexi-truncate">
               
                            <div class="slds-media slds-no-space slds-grow">
                                <div class="slds-media__body">
                                    <ul class="slds-grid slds-page-header__detail-row">
                                                                
                                        <!--<apex:commandButton value="Back To Job" id="idCancel" action="{!cancel}" styleClass="slds-button slds-button--neutral slds-not-selected" immediate="
                                        true" style="margin-right:1vw;"/>-->  
                                        <apex:outputPanel id="jId"  layout="block">
                                            <apex:outputLink value="/{!oppobject.Id}" styleclass="slds-button slds-button--neutral slds-not-selected" style="margin-right:1vw;  " id="theLinksss" >Back To Job</apex:outputLink>
                                        </apex:outputPanel>
                                        
                                        <!--<apex:outputPanel id="jobRecId" rendered="{!isDisabled == true}" layout="block">
                                            <apex:outputLink value="/006" styleclass="slds-button slds-button--neutral slds-not-selected" style="margin-right:1vw;  " id="theLink" >Back To Jobs</apex:outputLink>
                                        </apex:outputPanel>-->
                           
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-page-header__title slds-align--absolute-center slds-text-heading--large"  title="this should match the Record Title">JOB DETAILS</h1>                    
                                    </li>
                           
                           
                                                          
                                </ul> 
                                <ul class="slds-grid slds-page-header__detail-row">
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Title:</h1>
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(oppobject.Name==null,'Unassigned',oppobject.Name)}</h1>            
                                    </li>
                            
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Number:</h1>
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(oppobject.Job_Number__c==null,'Unassigned',oppobject.Job_Number__c)}</h1>           
                                    </li>
                           
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Manager : </h1>  
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(oppobject.Manager__c==null,'Unassigned',oppobject.Manager__r.Name)}</h1>            
                                    </li>
                                    <li class="slds-page-header__detail-block">
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Instructing Company : </h1>  
                                        <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(oppobject.AccountId==null,'Unassigned',oppobject.Account.Name)}</h1>            
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="manageMyJobBody">
                <div class="slds-tabs--default">
                    <apex:outputPanel id="CS_ManageMyJob_Editable" layout="block">
                        <ul class="slds-tabs--default__nav" role="tablist">
                            <li class="slds-tabs--default__item slds-text-title--caps " title="Item One" role="presentation" >
                                <a class="slds-tabs--default__link" href="/apex/CS_ManageMyJobPage?id={!oppobject.id}" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-1" id="CS_ManageMyJob_tab-default-1__item" >Job Information</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps"  title="Item Two"  role="presentation" >
                                <a class="slds-tabs--default__link" href="/apex/CS_PropertyJnEditViewJM?id={!oppobject.id}" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-8" id="CS_ManageMyJob_tab-default-8__item">Properties</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Three" role="presentation" >
                                <a class="slds-tabs--default__link"  href="/apex/CS_allocationPage?id={!oppobject.id}"  role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-2" id="CS_ManageMyJob_tab-default-2__item">Allocations</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps"  title="Item Four" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/CS_JobCostsControllerPage?id={!oppobject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-3" id="CS_ManageMyJob_tab-default-3__item" >Costs</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Five" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/cs_Accurals?id={!oppobject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-4" id="CS_ManageMyJob_tab-default-4__item" >Accruals</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Six" role="presentation">
                                <a class="slds-tabs--default__link"  href="/apex/CS_JobInvoiceViewClone?id={!oppobject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-5" id="CS_ManageMyJob_tab-default-5__item">Invoices</a>
                            </li>
                           <li class="slds-tabs--default__item slds-text-title--caps "   title="Item Seven" role="presentation">
                                <a class="slds-tabs--default__link" href="/apex/cs_CreditNotes?id={!oppobject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-6" id="CS_ManageMyJob_tab-default-6__item" >Credit Notes</a>
                            </li>
                            <li class="slds-tabs--default__item slds-text-title--caps slds-active"   title="Item Eigth" role="presentation">
                                <a class="slds-tabs--default__link" href="javascript:void(0);"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-7" id="CS_ManageMyJob_tab-default-7__item" >Journals</a>
                            </li>
                        </ul>
                    </apex:outputPanel>
                </div>
            </div>
            <apex:outputPanel layout="block" id="journalModal">
            <apex:outputPanel layout="block" rendered="{!ObjModal.displayerror}" >
            <div role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal--prompt">
                <div class="slds-modal__container">
                    <div class="slds-modal__header {!IF(ObjModal.Title=='Error','slds-theme--error','slds-theme--success' )} slds-theme--alert-texture">
                        <h2 class="slds-text-heading--medium" id="prompt-heading-id">{!ObjModal.Title}</h2>
                    </div>
                    <div class="slds-modal__content slds-p-around--medium">
                        <apex:outputPanel layout="block" rendered="{!NOT(ObjModal.hasMore)}">
                            <div>
                            <p>{!ObjModal.Errormsg}</p>
                        </div>
                        </apex:outputPanel>
                        <apex:outputPanel layout="block" rendered="{!(ObjModal.hasMore)}">
                            <div>
                                <apex:repeat value="{!ObjModal.ErrorList}" var="e">
                            <p>{!e}</p>
                            </apex:repeat>
                        </div>
                        </apex:outputPanel>
                    </div>
                    <div class="slds-modal__footer slds-theme--default">
                        <button class="slds-button slds-button--neutral" onclick="close_ErrorModaljournal();return false">OK</button>
                    </div>
                </div>
            </div>
            <div class="slds-backdrop slds-backdrop--open"></div>
        </apex:outputPanel>
        </apex:outputPanel>
            <!--<apex:outputPanel id="hiddenblock"> <apex:pagemessages /> </apex:outputPanel>-->
            <apex:actionFunction name="getallocationDetails" action="{!fetchjournalDetails}" rerender="journalTableDetail,invoiceTableDetail,journalModal" oncomplete="renderfunction()" status="pageStatus" >
                <apex:param name="invId" value="" assignTo="{!detailWrpId}"/>
            </apex:actionFunction>
            <apex:actionFunction name="close_ErrorModaljournal" action="{!close_ErrorModal}"  status="pageStatus" rerender="journalModal" />  
            <apex:actionFunction name="savedat" action="{!saveJournal}" rerender="journalTableDetail,journalModal" oncomplete="renderfunction();" status="pageStatus" >
                
                <apex:param name="financecode" value="" assignTo="{!financecode}"/>
            </apex:actionFunction>
        <!--<apex:pageMessages ></apex:pageMessages>-->
            <div id ="InvoiceHeader">
                <div class="slds-m-around--medium">
                <div class="slds-text-heading--small" style="fontWeight:bold;"> Approved Invoices </div>
            </div>
            <div class="slds-m-top--medium"></div>
            <div class="slds-grid  slds-grid--pull-padded" style="padding-left:2vw;padding-right:2vw">
                <div class=" slds-size--1-of-1 ">
                    <apex:outputPanel id="invoiceTableDetail" layout="block">
                        <table id="invoiceTable" class="slds-table slds-table--bordered slds-table--cell-buffer" width="100%" cellpadding="0" cellspacing="0" border="0" >
                            <thead >
                                <tr >
                                    <th >
                                    </th>
                                    <th  >
                                        Number
                                    </th>
                                    <th >
                                       Date
                                    </th>
                                    <!--<th >
                                       Job No
                                    </th>
                                    <th>
                                       Title
                                    </th>
                                    <th>
                                        Manager
                                    </th>
                                    <th>
                                        Client Name
                                    </th>-->
                                    <th >
                                        Total Gross
                                    </th>
                                    <th >
                                        Net Fee
                                    </th>
                                    <th >
                                        Net Cost
                                    </th>
                                    <th >
                                        Status
                                    </th>
                                    <th >
                                        Type
                                    </th>
                                </tr>
                            </thead> 
                            <tbody>
                                <apex:variable var="j" value="{!0}"/>
                                    <apex:repeat value="{!lstInvoiceDetails}" var="inv" id="Rpt">
                                        <tr>
                                            <td><apex:inputCheckbox id="chckbx" value="{!inv.isChecked}"  onclick="getallocationDetails({!j+1});" /></td>
                                            <!--<td>{!inv.invoice.name}</td>-->
                                            <td>{!inv.invoice.Assigned_Invoice_Number__c}</td>
                                            <td><apex:outputText value="{0,date,yyyy-MM-dd}"> <apex:param value="{!inv.invoice.Date_of_Invoice__c}" />  </apex:outputText></td>
                                            <!--<td>{!inv.invoice.Opportunity__r.Job_Number__c}</td>
                                            <td>{!inv.invoice.Opportunity__r.name}</td>
                                            <td>{!inv.invoice.Manager__r.name}</td>
                                            <td>{!inv.invoice.Company__r.Name}</td>-->
                                            <td>{!inv.invoice.Amount_Inc_VAT__c}</td>
                                            <td>{!inv.invoice.Total_Fee__c}</td>
                                            <td>{!inv.invoice.Total_cost__c}</td>
                                            <td>{!inv.invoice.Status__c}</td>
                                            <td></td>
                                        </tr>
                                    <apex:variable var="j" value="{!j+1}"/>
                                </apex:repeat>
                            </tbody>
                        </table>
                    </apex:outputPanel>
                </div>
            </div>
            <!-- End Invoice Table -->
            
            <div class="slds-text-heading--small" style="fontWeight:bold;margin-left:1vw;margin-top:4vh;">Journals</div>
                <div class="slds-m-top--x-large"></div>
            <apex:actionstatus id="status2" startText="Refreshing..."></apex:actionstatus>
            <apex:pageblock >
                <apex:pageBlockButtons location="top" style="padding-left: 8vw;padding-top: 0px;"  >
                    <apex:outputpanel layout="block" id="theJournalButtons1" rendered="{!IF(stagestatus,false,true)}">
                        <apex:outputpanel layout="block" rendered="{!isButton}">
                            <!--<apex:commandButton value="Save All" action="{!save}"  styleClass="slds slds-button  slds-button--brand" style="margin-right:1vw;"/>-->
                            <apex:commandButton value="Save" onclick="checkingfunction();return false;" styleClass="slds slds-button  slds-button--brand" style="font-size:14px" />
                            <apex:commandButton value="Cancel" id="idCancel" action="{!initialJournal}" oncomplete="fullrender()" rerender="journalTableDetail,invoiceTableDetail" immediate="true" status="pageStatus" styleClass="slds slds-button slds-button--destructive" style="font-size:14px" />
                        </apex:outputPanel>
                    </apex:outputpanel>
                </apex:pageBlockButtons>
            </apex:pageblock>
                <div class="slds-grid  slds-grid--pull-padded" style="padding-left:2vw;padding-right:2vw" >
                    <div class=" slds-size--1-of-1 ">
                        <apex:outputPanel id="journalTableDetail" layout="block">
                            <table id="journalTable" class="slds-table slds-table--bordered slds-table--cell-buffer" width="100%" cellpadding="0" cellspacing="0" border="0" >
                                <thead>
                                    <th>
                                        Allocations
                                    </th>
                                    <th>
                                        Amount on Invoice
                                    </th>
                                    <th>
                                        Existing Journal Amount
                                    </th>
                                    <th>
                                        Amount Available
                                    </th>
                                    <th>
                                        Amount to Deduct
                                    </th>
                                    <th>
                                        Amount to Allocate
                                    </th>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!lstofJournalWrapper}" var="joun">
                                        <tr >
                                           <!-- <td>
                                                <div id="workname{!joun.wrapperId}">
                                                    {!joun.invoiceAlocationObj.Allocation__r.workType_Allocation__c}
                                                </div>
                                            </td>-->
                                            
                                            <td>
                                                <div id ="workname{!joun.wrapperId}">
                                                    <apex:outputText value="{!joun.nameofRecord}" />
                                                </div>
                                            </td>
                                            
                                            <td>
                                                {!joun.inovoiceamount}
                                            </td>
                                            <td>
                                                {!joun.journalAmount}
                                            </td>
                                            <td>
                                                <div id ="availcol{!joun.wrapperId}">
                                                    <apex:outputText id="availtvalue" value="{!joun.existingjournalAmount}" ></apex:outputText>
                                                </div>
                                                
                                            </td>
                                            <td>
                                                <div id ="deductcol{!joun.wrapperId}">
                                                    <apex:inputText disabled="{!stagestatus}" id="deductvalue" value="{!joun.journalDeduct}" onchange="checkdeduct('availcol{!joun.wrapperId}',this);"></apex:inputText>
                                                </div>
                                            </td>
                                            <td>
                                                <div id ="allocate{!joun.wrapperId}">
                                                    <apex:inputText disabled="{!stagestatus}" value="{!joun.journalAllocate}"></apex:inputText>
                                                </div>
                                            </td>
                                        </tr >
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </apex:outputPanel>
                    </div>
                </div>
                <apex:pageblock >
                    <apex:pageBlockButtons location="bottom" style="padding-left: 8vw;padding-top: 0px;"  >
                        <apex:outputpanel layout="block" id="theJournalButtons2" rendered="{!IF(stagestatus,false,true)}">
                        <apex:outputpanel layout="block" rendered="{!isButton}" >
                        <!--<apex:commandButton value="Save All" action="{!save}"  styleClass="slds slds-button  slds-button--brand" style="margin-right:1vw;"/>-->
                        <apex:commandButton value="Save"  onclick="checkingfunction();return false;" styleClass="slds slds-button  slds-button--brand" style="font-size:14px" />
                        <apex:commandButton value="Cancel" id="idCancel" action="{!cancel}" immediate="true" styleClass="slds slds-button slds-button--destructive" style="font-size:14px" />
                        </apex:outputpanel>
                        </apex:outputpanel>
                    </apex:pageBlockButtons>
                </apex:pageblock>
                <div role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal--prompt">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header slds-theme--error slds-theme--alert-texture">
                            <button class="slds-button slds-modal__close slds-button--icon-inverse">
                                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
                                    <!--<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>-->
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 class="slds-text-heading--medium" id="prompt-heading-id">Error Message</h2>
                        </div>
                        <div class="slds-modal__content slds-p-around--medium">
                            <div>
                                <p id="message"></p>
                            </div>
                        </div>
                        <div class="slds-modal__footer slds-theme--default">
                            <button class="slds-button slds-button--neutral" onclick="callfunction();return false">Okay</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </div>
            <apex:actionStatus id="pageStatus">
               <apex:facet name="start">
                   <apex:outputPanel >
                        <div class="slds-spinner_container hide-class" id="spinner-journal" >
                             <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                                <div class="slds-spinner__dot-a"></div>
                                <div class="slds-spinner__dot-b"></div>
                             </div>
                        </div>
                    </apex:outputPanel>
                </apex:facet>
           </apex:actionStatus>
            <!--<apex:actionStatus id="pageStatus">
               <apex:facet name="start">
                   <apex:outputPanel >
                       <img src="/img/loading32.gif" width="25" height="25" style="width:50px; height: 50px;position: fixed;top: 50%;left: 50%;" />
                       <apex:outputLabel value="Loading..." />
                   </apex:outputPanel>
               </apex:facet>
           </apex:actionStatus>-->
           <!-- Added By : Jyoti/24-10-2016 -->
           <apex:actionFunction name="callJournal" action="{!initialJournal}" ReRender="invoiceTableDetail,journalTableDetail,journalModal, theJournalButtons1, theJournalButtons2" oncomplete="renderfunction();" status="MainJobPageStatus"/> 
           <apex:actionFunction name="MainPageJournalFunction" action="{!initialJournal}" ReRender="invoiceTableDetail,journalTableDetail,journalModal, theJournalButtons1, theJournalButtons2" oncomplete="renderfunction();" status="MainJobPageStatus"/> 
        <script>
             $(document).ready( function () {
                 <!-- callJournal(); -->
                $('.slds-modal').hide();
                $('.slds-backdrop').hide();
                renderfunction();
                //creditNoteTableLst();
               // getCreditNotesLst();
                
            });
            var creditNoteTable;
            function fullrender(){
                callJournal();
                $('.slds-modal').hide();
                $('.slds-backdrop').hide();
                renderfunction();    
            }
            function checkdeduct(divId,ele){
                var boolvalue;
                var amountavail = parseFloat($('#'+divId).text());
                var deduct = parseFloat(ele.value.replace(/\,/g,""));
                if(amountavail<deduct){
                    document.getElementById("message").innerHTML = "Amount deducted is greater than the amount available";
                    $('.slds-backdrop').show(); 
                    $('.slds-modal').show();  
                }
                else {
                    
                }
                console.log(boolvalue);
            }
            function checkingfunction(){
                var total = $('[id*="deductcol"]').size()+1;
                var totaldedeuct = 0;
                var totalAllocate = 0;
                var Booleanvalue ;
                var countdeduct=0;;
                var counter ;
                var deductalloc='';
                var internalcount =0;
                var externalcount = 0;
                for(var i=1;i<total;i++){
                    if(countdeduct>1){
                        document.getElementById("message").innerHTML = "You Cannot deduct from more than one Allocation";
                        Booleanvalue =true;
                        break;
                    }
                    console.log('test'+$('#deductcol'+i+' input').val());
                      console.log('test'+$('#availcol'+i+'').text());
                    if($('#deductcol'+i+' input').val()!= null &&  parseFloat($('#deductcol'+i+' input').val().replace(/\,/g,""))>0){
                            
                        if(parseFloat($('#allocate'+i+' input').val().replace(/\,/g,""))>0){
                            document.getElementById("message").innerHTML = "Cannot deduct and add on same allocation :"+$('#workname'+i).text();
                            Booleanvalue =true;
                            break;
                            
                        }
                        else if( ($('#availcol'+i+'').text()!=null && $('#deductcol'+i+' input').val()!=null) && (parseFloat($('#availcol'+i+'').text().replace(/\,/g,"") ) < parseFloat($('#deductcol'+i+' input').val().replace(/\,/g,"")))){
                            document.getElementById("message").innerHTML = "Amount deducted is greater than the amount available";
                            Booleanvalue =true;
                            break;
                        }else{
                        countdeduct = countdeduct +1;
                        counter = i;
                        totaldedeuct = parseFloat($('#deductcol'+i+' input').val().replace(/\,/g,"")) + totaldedeuct;
                        var valuealloc =  $('#workname'+i).text();
                        deductalloc = valuealloc.substring(valuealloc.length-8,valuealloc.length);
                        
                        }
                    }else if($('#allocate'+i+' input').val()!=null && parseFloat($('#allocate'+i+' input').val().replace(/\,/g,""))>0){
                        var stringname = $('#workname'+i).text();
                        
                        totalAllocate = parseFloat($('#allocate'+i+' input').val().replace(/\,/g,"")) + totalAllocate;
                        if(stringname != '' && stringname != null){
                            if(stringname.substring(stringname.length-8,stringname.length) == 'Internal'){
                               
                            }
                            if(stringname.substring(stringname.length-8,stringname.length) == 'External'){
                               
                            }
                        }
                    }
                    
                }
                
                if(Booleanvalue){
                    $('.slds-backdrop').show(); 
                    $('.slds-modal').show();    
                }
                else if(totalAllocate != totaldedeuct){
                    document.getElementById("message").innerHTML = "You have enter "+totaldedeuct+"  for Deduction and "+totalAllocate+" for additions";
                    $('.slds-backdrop').show(); 
                    $('.slds-modal').show();
                    
                }else if(totalAllocate ==totaldedeuct){
                    var parameter = 0; 
                    if(deductalloc == 'Internal' && internalcount>0){
                        parameter = parameter + 1010;
                    }else if(deductalloc == 'Internal' && externalcount>0){
                        parameter = parameter + 1022;
                    }
                    else if(deductalloc == 'External' && externalcount>0){
                        parameter = parameter + 7510;
                    }
                    
                    savedat(counter);
                }
               
            }
            function callfunction(){
                $('.slds-modal').hide();
                $('.slds-backdrop').hide();
               
                
            }
            function renderfunction(){
             $('.slds-modal').hide();
             $('.slds-backdrop').hide();
            $('.slds-button').removeClass('btn');
                if (!$.fn.DataTable.isDataTable('[id$="invoiceTable"]')){
                    creditNoteTable = $('[id$="invoiceTable"]').DataTable({
                    scrollY:        "100%",
                    
                    scrollCollapse: true,
                    "paging": true
                    

                    });
                    
                }
                if (!$.fn.DataTable.isDataTable('[id$="journalTable"]')){
                    creditNoteTable1 = $('[id$="journalTable"]').DataTable({
                    scrollY:        "100%",
                     "iDisplayLength":20,    
                    scrollCollapse: true,
                    "paging": true
                    
    
                });
                    
                }
                
                
            }
        
            </script>
        </apex:form>  
    </body>
</apex:page>