<apex:page controller="CS_ManageMyJobController" showheader="false" title="Manage My Job" docType="html-5.0" >
    <head>
        <apex:stylesheet value="{!URLFOR($Resource.lighteningDesignSystem, 'assets/styles/salesforce-lightning-design-system.css')}" />       
        <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/uikit.css" />
        <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/dataTables.uikit.min.css" />
        <apex:stylesheet value="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
        <apex:stylesheet value="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" />
        <apex:includescript value="https://code.jquery.com/jquery-1.12.3.js" / >
        <apex:includescript value="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js" />
        <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" />  
        <apex:includescript value="https://cdn.datatables.net/1.10.12/js/dataTables.uikit.min.js" / >
        <apex:includescript value="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"/>
       
        
        <style>
            .slds-page-header__detail-row {  
                background-color: steelblue;
            }
            .slds-page-header__title {    
                font-size: 1rem;
            }
            h1{
            color: white;
            }
           <!--  button {
                float: right;
            } -->
            .scrollStyle
            {
                overflow-x:auto;
            } 
            table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>td.sorting_asc:after {
                content: "";
            }
            table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_desc:after {
                content: "";
            }
            .slds-active{
                
                color:white;
            }
            .slds-tabs--default__item.slds-active .slds-tabs--default__link {
                border-color: #0070d2;
                color: white;
                background: steelblue;
                
                
            }
            .slds-tabs--default__item.slds-active .slds-tabs--default__link:focus {
              border-bottom-width: 3px;
              color: white; 
                
            } 
            table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>td.sorting:after {
                content: "";
                color: #ddd;
                font-size: 0.8em;
                padding-top: 0.12em;
            }
            
            .slds-spinner_container{
                position: fixed;
                width: 100%;
                height: 100%;
            }

        </style>          
    </head> 
    <body>
        <apex:form >
            <apex:actionStatus id="MainJobPageStatus">
            <apex:facet name="start">
                <div class="slds-spinner_container hide-class"  >
                    <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>
            <apex:actionFunction name="MainCompany" action="{!renderMainCompany}" ReRender="cs_CompaniesContacts_page" status="MainJobPageStatus"/>
            <apex:actionFunction name="MainProperty" action="{!renderMainProperty}" ReRender="CS_PropertyJnEditViewJM_page" oncomplete="MainPagePropertyFunctionJS();" status="MainJobPageStatus"/>
              <apex:actionFunction name="MainAllocation" action="{!renderMainAllocation}" ReRender="cs_allocationPage_page" onComplete="mainAllocationFunc();" status="MainJobPageStatus"/> 
              <apex:actionFunction name="MainCost" action="{!renderMainCost}" ReRender="CS_JobCostsControllerPage_page" onComplete="mainCostFunc();" status="MainJobPageStatus"/> 
              <apex:actionFunction name="MainAccural" action="{!renderMainAccural}" ReRender="cs_Accurals_page" oncomplete="mainAccuralFunc();" status="MainJobPageStatus"/> 
              <apex:actionFunction name="MainInvoice" action="{!renderMainInvoice}" ReRender="CS_JobInvoiceViewClone_page" oncomplete="mainInvoiceFunc();" status="MainJobPageStatus"/> 
              <apex:actionFunction name="MainCreditNote" action="{!renderMainCreditNote}" ReRender="cs_CreditNotes_page" status="MainJobPageStatus"/> 
              <apex:actionFunction name="MainJournal" action="{!renderMainJournal}" ReRender="cs_journalPage_page" status="MainJobPageStatus"/> 
             
            <div class="slds-page-header" role="banner">
              <div class="slds-grid">
                <div class="slds-col slds-has-flexi-truncate">
           
                  <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__body">
                      <ul class="slds-grid slds-page-header__detail-row">
                                                            
                                <!--<apex:commandButton value="Back To Job" id="idCancel" action="{!cancel}" styleClass="slds-button slds-button--neutral slds-not-selected" immediate="
                                true" style="margin-right:1vw;"/>-->  
                                <apex:outputPanel id="jId" rendered="{!isDisabled == false}" layout="block">
                                    <apex:outputLink value="/{!recordId}" styleclass="slds-button slds-button--neutral slds-not-selected" style="margin-right:1vw;  " id="theLinksss" >Back To Job</apex:outputLink>
                                </apex:outputPanel>
                                
                                <apex:outputPanel id="jobRecId" rendered="{!isDisabled == true}" layout="block">
                                    <apex:outputLink value="/006" styleclass="slds-button slds-button--neutral slds-not-selected" style="margin-right:1vw;  " id="theLink" >Back To Jobs</apex:outputLink>
                                </apex:outputPanel>
                       
                    <li class="slds-page-header__detail-block">
                           <h1 class="slds-page-header__title slds-align--absolute-center slds-text-heading--large"  title="this should match the Record Title">JOB DETAILS</h1>                    
                        </li>
                       
                       
                                                      
                     </ul> 
                      <ul class="slds-grid slds-page-header__detail-row">
                            <li class="slds-page-header__detail-block">
                            <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Title:</h1>
                            <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(jobObject.Name==null,'Unassigned',jobObject.Name)}</h1>            
                        </li>
                        
                           <li class="slds-page-header__detail-block">
                            <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Number:</h1>
                            <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(jobObject.Job_Number__c==null,'Unassigned',jobObject.Job_Number__c)}</h1>           
                        </li>
                       
                         <li class="slds-page-header__detail-block">
                            <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">JOB Manager : </h1>  
                            <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(jobObject.Manager__c==null,'Unassigned',jobObject.Manager__r.Name)}</h1>            
                        </li>
                         <li class="slds-page-header__detail-block">
                            <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Instructing Company : </h1>  
                            <h1 class="slds-text-body--regular slds-m-right--small slds-align-middle " title="this should match the Record Title">{!IF(jobObject.AccountId==null,'Unassigned',jobObject.Account.Name)}</h1>            
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </apex:form>
        <div id="manageMyJobBody">
            <div class="slds-tabs--default">
            <apex:outputPanel id="CS_ManageMyJob_Uneditable" rendered="{!isDisabled == true}" layout="block">
                <ul class="slds-tabs--default__nav" role="tablist">
                    <li class="slds-tabs--default__item slds-text-title--caps slds-active" title="Item One" role="presentation" ><a class="slds-tabs--default__link" href="#" style="background-color: steelblue;color:#fff;">Job Information</a></li>
                </ul>
            </apex:outputPanel>
            <apex:outputPanel id="CS_ManageMyJob_Editable" rendered="{!isDisabled==false}" layout="block">
             <ul class="slds-tabs--default__nav" role="tablist">
                <li class="slds-tabs--default__item slds-text-title--caps slds-active" onclick="MainPageJobInfo();" title="Item One" role="presentation" >
                    <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-1" id="CS_ManageMyJob_tab-default-1__item" >Job Information</a>
                </li>
                <li class="slds-tabs--default__item slds-text-title--caps"  title="Item Two"  role="presentation" >
                        <a class="slds-tabs--default__link" href="/apex/CS_PropertyJnEditViewJM?id={!jobObject.id}" role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-8" id="CS_ManageMyJob_tab-default-8__item">Properties</a>
                    </li>
                    <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Three" role="presentation" >
                        <a class="slds-tabs--default__link"  href="/apex/CS_allocationPage?id={!jobObject.id}"  role="tab" tabindex="0" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-2" id="CS_ManageMyJob_tab-default-2__item">Allocations</a>
                    </li>
                    <li class="slds-tabs--default__item slds-text-title--caps"  title="Item Four" role="presentation">
                        <a class="slds-tabs--default__link" href="/apex/CS_JobCostsControllerPage?id={!jobObject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-3" id="CS_ManageMyJob_tab-default-3__item" >Costs</a>
                    </li>
                    <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Five" role="presentation">
                        <a class="slds-tabs--default__link" href="/apex/cs_Accurals?id={!jobObject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-4" id="CS_ManageMyJob_tab-default-4__item" >Accruals</a>
                    </li>
                    <li class="slds-tabs--default__item slds-text-title--caps "  title="Item Six" role="presentation">
                        <a class="slds-tabs--default__link"  href="/apex/CS_JobInvoiceViewClone?id={!jobObject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-5" id="CS_ManageMyJob_tab-default-5__item">Invoices</a>
                    </li>
                   <li class="slds-tabs--default__item slds-text-title--caps "   title="Item Seven" role="presentation">
                        <a class="slds-tabs--default__link" href="/apex/cs_CreditNotes?id={!jobObject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-6" id="CS_ManageMyJob_tab-default-6__item" >Credit Notes</a>
                    </li>
                    <li class="slds-tabs--default__item slds-text-title--caps"   title="Item Eigth" role="presentation">
                        <a class="slds-tabs--default__link" href="/apex/cs_journalPage?id={!jobObject.id}"  role="tab" tabindex="-1" aria-selected="true" aria-controls="CS_ManageMyJob_tab-default-7" id="CS_ManageMyJob_tab-default-7__item" >Journals</a>
                    </li>
                </ul>
            </apex:outputPanel>
              <apex:outputPanel rendered="{!OR(isDisabled == true,isEditMode)}" layout="none">
            <div id="CS_ManageMyJob_tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="CS_ManageMyJob_tab-default-1__item" >    
                    <!-- <apex:outputPanel layout="block" id="cs_CompaniesContacts_page"> -->
                   <apex:include pageName="cs_CompaniesContacts"/>
                     <!-- </apex:outputPanel> -->
            </div>
            </apex:outputPanel>
             <apex:outputPanel rendered="{!NOT(OR(isDisabled == true,isEditMode))}" layout="none">
            <div id="CS_ManageMyJob_tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="CS_ManageMyJob_tab-default-1__item" >    
                    <!-- <apex:outputPanel layout="block" id="cs_CompaniesContacts_page"> -->
                   <apex:include pageName="CS_companiesContact_edit"/>
                     <!-- </apex:outputPanel> -->
            </div>
             </apex:outputPanel>
            
            </div>
            <!-- <apex: -->
        </div>
        
    </body>
    <script>
    function MainPagePropertyFunctionJS(){
        //MainPagePropertyFunction();
         $('.slds-modal').hide();
    }
    $(document).ready(function() {
        if({!showmodal}){
            console.log('show modal---'+{!showmodal});
            $('.slds-modal').show();
            $('.slds-backdrop').show();
        }else{
            $('.slds-modal').hide();
            $('.slds-backdrop').hide();
        }
       
        $('.slds-button').removeClass('btn');                                  
        $('.slds-tabs--default__item').on('click', function(){
                
                console.log('clicked');
                $(this).addClass('slds-active');
                $(this).find('a').attr('aria-selected', true);
                var $contentToShow = $('#'+$(this).find('a').attr('aria-controls'));
                $contentToShow.removeClass('slds-hide');
                $contentToShow.addClass('slds-show');
                
                $(this).siblings().removeClass('slds-active');
                $(this).siblings().find('a').attr('aria-selected', false);
                $contentToShow.siblings('.slds-tabs--default__content').removeClass('slds-show');
                $contentToShow.siblings('.slds-tabs--default__content').addClass('slds-hide');
                 
                $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
              
        });
    });
    
   
    
    
    </script>
</apex:page>