<apex:page Controller="CS_EditProproprtyJunctionControllerJM" standardStylesheets="false" showHeader="false"  sidebar="false" >

    <head>
        <style>
            .spacing {
                margin: 1em;
            }
            
            #snackbar {
                visibility: hidden;
                min-width: 250px;
                margin-left: -125px;
                background-color: #333;
                color: #fff;
                text-align: center;
                border-radius: 2px;
                padding: 16px;
                position: fixed;
                z-index: 1;
                left: 50%;
                bottom: 30px;
                font-size: 17px;
            }
            
            #contacttablesjobs_filter {
                display: none;
            }
            
            #contacttablesjobs_length {
                display: none;
            }
            
            #contacttablesjobs_paginate {
                display: none;
            }
            
            #contacttablesjobs_info {
                display: none;
            }
            
            #snackbar.show {
                visibility: visible;
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }
            
        </style>
    </head>
    <body>
        <apex:form id="thePropertForm" onmouseover="EnableBtn();">

            <apex:actionFunction action="{!SelectedProperty}" name="PassIds" status="MainJobPageStatus" rerender="AddedTable,propertyTable,btnss" oncomplete="rerendertable();hideSpinnerPropetry(); rerendertables('{!isError}');">
                <apex:param value="" name="Selids" />
            </apex:actionFunction>
            <apex:actionfunction name="Dels" action="{!deleteSelectedRow}" oncomplete="rerendertable();" rerender="AddedTable,propertyTable,btnss" status="MainJobPageStatus">
                <apex:param name="rowToBeDeleted" value="" assignTo="{!IdtoDelete}" />
            </apex:actionfunction>
            <apex:actionfunction name="CancelJobsAll" action="{!cancelJobs}" oncomplete="rerendertable();" rerender="AddedTable,propertyTable,btnss" status="MainJobPageStatus">
            </apex:actionfunction>
            <apex:actionfunction name="callPropertyPage" action="{!setClosedJob}" oncomplete="rerendertable();" rerender="thePropertForm" status="MainJobPageStatus" />
            <apex:actionfunction name="MainPagePropertyFunction" action="{!getPropertyDetails}" oncomplete="rerendertable();" rerender="thePropertForm" status="MainJobPageStatus" />
            <apex:outputPanel layout="block" rendered="{!!isClosedJob}">
                <div style="border: 2px solid  #d8dde6;margin:2em;">
                    <div class="slds-text-heading--medium" style="font-Weight: bold; margin: 1em;">{!$Label.Property_Search} </div>
                    <div class="slds-m-top--small"></div>
                    <apex:outputPanel id="propertyTable">
                        <div class="slds-m-around--medium">
                            <table id="contacttablesjobs111" class="display slds-table">
                                <thead>
                                    <tr class="slds-text-heading--small">
                                        <th></th>
                                        <th>Postal Code Search</th>
                                        <th>Full Street Search</th>
                                        <th>Building Search</th>
                                        <th>Town Search</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <apex:commandButton value="Search" id="idCancelss" action="{!firstfilter}" status="MainJobPageStatus" rerender="AddedTable,propertyTable,btnss" oncomplete="rerendertable();" styleClass="slds-button slds-button--neutral btndisabled" />
                                        </th>
                                        <th>
                                            <apex:inputText styleclass="slds-input disableinput finaledit postal key-up-class-prop" value="{!PostalFilter}" />
                                        </th>
                                        <th>
                                            <apex:inputText styleclass="slds-input disableinput finaledit street" value="{!StreetFilter}" /> </th>
                                        <th>
                                            <apex:inputText styleclass="slds-input disableinput finaledit blding" value="{!BldingFilter}" />
                                        </th>
                                        <th>
                                            <apex:inputText styleclass="slds-input disableinput finaledit town" value="{!TownFilter}" />
                                        </th>
                                    </tr>

                                </thead>
                            </table>
                            <!-- Page #{!pageNumber} -->
                            <table id="contacttablesjobs" class="display slds-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <apex:inputCheckbox rendered="{!ListbooleanProproprtyWrapper!=null&&ListbooleanProproprtyWrapper.size!=0}" value="{!IsSelectAll}" id="checkedone" styleClass="contactCb disableinputClosed finaledit chkbox">
                                                <apex:actionSupport event="onclick" action="{!selectAllProperty}" status="MainJobPageStatus" rerender="propertyTable,showmsg" oncomplete="rerendertable();getall();" />
                                            </apex:inputCheckbox>
                                        </th>
                                        <th>{!$Label.Postal_Code}</th>
                                        <th> {!$Label.FullStreet}</th>
                                        <th> {!$Label.Building}</th>
                                        <th> {!$Label.Town}</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <apex:repeat value="{!ListbooleanProproprtyWrapper}" var="proprty" id="Rpt">
                                        <tr>
                                            <td>
                                                <apex:inputCheckbox id="chckbx" onchange="getselectedids(this,'{!proprty.Prprty.Id}')" value="{!proprty.isselected}" /> </td>
                                            <td>{!proprty.Prprty.Post_Code__c}</td>
                                            <td>{!proprty.Prprty.Full_Street__c}</td>
                                            <td>{!proprty.Prprty.Building_Name__c}</td>
                                            <td>{!proprty.Prprty.Town__c}</td>
                                        </tr>
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </apex:outputPanel>
                    <apex:pageMessages id="showmsg"></apex:pageMessages>
                    <apex:panelGrid columns="4" style="width:30%;float: right;" id="btnss">
                        <apex:commandLink action="{!first}" rendered="{!ListbooleanProproprtyWrapper!=null&&ListbooleanProproprtyWrapper.size>7&&cons.HasNext}" rerender="propertyTable,btnss" styleclass="btndisableds" status="MainJobPageStatus" oncomplete="rerendertable();">First</apex:commandlink>
                        <apex:commandLink action="{!previous}" rendered="{!hasPrevious}" styleclass="btndisableds" status="MainJobPageStatus" rerender="propertyTable,btnss" oncomplete="rerendertable();">Previous</apex:commandlink>
                        <apex:commandLink action="{!next}" rendered="{!hasNext}" styleclass="btndisableds" status="MainJobPageStatus" rerender="propertyTable,btnss" oncomplete="rerendertable();">Next</apex:commandlink>
                        <apex:commandLink action="{!last}" rendered="{!ListbooleanProproprtyWrapper!=null&&ListbooleanProproprtyWrapper.size>7}" rerender="propertyTable,btnss" styleclass="btndisableds" status="MainJobPageStatus" oncomplete="rerendertable();">Last</apex:commandlink>
                    </apex:panelGrid>
                    <apex:commandButton value="{!$Label.Add_Selected}" id="idCancel" status="MainJobPageStatus" onclick="AddToJn();" oncomplete="" styleClass="slds-button slds-button--neutral slds-not-selected spacing" />
                </div>
            </apex:outputPanel>
            <div id="snackbar">Record Saved..</div>
            <apex:actionStatus id="pageStatus">
                <apex:facet name="start">
                    <apex:outputPanel >
                        <img src="/img/loading32.gif" width="25" height="25" style="         width:50px;        height: 50px;        position: fixed;        top: 50%;        left: 50%;" />
                        <apex:outputLabel value="Loading..." />
                    </apex:outputPanel>
                </apex:facet>
            </apex:actionStatus>

            <div class="slds-spinner_container " id="spinner-div-property">
                <div class="slds-spinner--brand slds-spinner slds-spinner--large" role="alert">
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
            <!-- <div class="slds-m-around--medium"> -->
            <div style="border: 2px solid  #d8dde6;" class="slds-m-around--medium">
                <div class="slds-text-heading--medium" style="font-Weight: bold; margin: 1em;">{!$Label.Selected_Properties} </div>
                <apex:outputPanel id="AddedTable">
                    <div class="slds-m-around--medium">
                        <table id="contacttablesjobssproperty" class="display">
                            <thead>
                                <tr>
                                    <!--    <th></th>-->
                                    <th>{!$Label.Postal_Code}</th>
                                    <th>{!$Label.FullStreet}</th>
                                    <th> {!$Label.Building}</th>
                                    <th> {!$Label.Town}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <apex:variable var="i" value="{!0}" />
                                <apex:repeat value="{!ListbooleanProproprtyJnWrapper}" var="proprty" id="Rpts">
                                    <tr>
                                        <!--<td>  <apex:inputCheckbox id="chckbx" value="{!proprty.isselected}" />   </td>-->
                                        <td>{!proprty.Postal}</td>
                                        <td>{!proprty.Street}</td>
                                        <td>{!proprty.Building}</td>
                                        <td>{!proprty.Town}</td>
                                        <td>
                                            <apex:outputPanel layout="block" rendered="{!!isClosedJob}"> <span class="ui-icon ui-icon-trash" style="color:blue;cursor: pointer;" onclick="Dels('{!i}')">{!$Label.Delete}</span></apex:outputPanel>
                                        </td>
                                    </tr>
                                    <apex:variable var="i" value="{!i+ 1}" />
                                </apex:repeat>
                            </tbody>
                        </table>
                    </div>
                </apex:outputPanel>

                <!--  <div class="slds">
                <apex:commandButton value="{!$Label.Add_to_Opportunity}" status="pageStatus" id="idSaves" onclick="ToSave()" rerender="showmsg" oncomplete="rerendertables('{!isError}');" rendered="{!keyPrefix=='006'}" styleClass="slds-button slds-button--neutral slds-not-selected spacing DisableSave" />
        </div>-->
            </div>

            <apex:actionStatus id="propertySpinner">
                <apex:facet name="start">
                    <div class="slds-spinner_container hide-class">
                        <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            <script>
                var selectedmember = new Array();
                var listofids = '';

                function getselectedids(ele, id) {

                    if (ele.checked) {
                        selectedmember.push(id);
                        // alert(selectedmember);
                    } else {
                        var index = selectedmember.indexOf(id);
                        if (index > -1) {
                            selectedmember.splice(index, 1);
                        }
                    }

                    listofids = selectedmember.join();

                }

                var selectall = false;

                function getall() {
                    if (selectall) {
                        selectall = false;
                    } else {
                        selectall = true;
                    }

                }

                function AddToJn() {
                    //alert(listofids);
                    console.log('--AddtoJunction---');
                    if (listofids != '' || selectall) {
                        console.log('-' + listofids + '++')
                        showSpinnerPropetry();

                        PassIds(listofids);
                    }
                }

                function ToSave() {
                    //alert(listofids);
                    //PassIds(listofids);
                    $('.DisableSave').attr('disabled', 'disabled');
                    SavesAll();
                }

                function EnableBtn() {
                    var post = $('.postal').val();
                    var Strt = $('.street').val();
                    var Bld = $('.blding').val();
                    var Twn = $('.town').val();

                    if (post != '' || Strt != '' || Bld != '' || Twn != '') {
                        $('.btndisabled').attr('disabled', false);
                        $('.chkbox').attr('disabled', false);

                    } else {
                        $('.btndisabled').attr('disabled', 'disabled');
                        $('.btndisableds').hide();
                        $('.chkbox').attr('disabled', 'disabled');

                    }
                    hideSpinnerPropetry();
                }

                function rerendertables(err) {

                    $('.DisableSave').attr('disabled', false);
                    //alert(err);
                    if (err == 'false') {
                        myFunction();

                    }

                }

                function rerendertable() {
                    $('.btndisableds').show();
                    if (!$.fn.DataTable.isDataTable('[id$="contacttablesjobssproperty"]')) {
                        var contacttablesjobs = $('[id$="contacttablesjobssproperty"]').DataTable({

                        });
                    }
                    if (!$.fn.DataTable.isDataTable('[id$="contacttablesjobs"]')) {
                        var contacttablesjobs = $('[id$="contacttablesjobs"]').DataTable({
                            "pageLength": 15

                        });
                    }

                    $(".btn").removeClass("btn");
                    listofids = '';
                    selectedmember = new Array();
                    //myFunction();

                    hideSpinnerPropetry();

                }
                function myFunction() {
                    var x = document.getElementById("snackbar")
                    x.className = "show";
                    setTimeout(function() {
                        x.className = x.className.replace("show", "");
                    }, 3000);
                }
                $(document).ready(function() {
                    showSpinnerPropetry();
                    var contacttablesjobs = $('[id$="contacttablesjobs"]').DataTable({
                        "pageLength": 15

                    });

                    var contacttablesjobs = $('[id$="contacttablesjobssproperty"]').DataTable({

                    });

                    $(".btn").removeClass("btn");
                    $('.btndisabled').attr('disabled', 'disabled');
                    hideSpinnerPropetry();

                    $(".key-up-class-prop").each(function(index) {

                        $(this).keyup(function(e) {
                            if (e.which == 13) {
                                $('.btndisabled').click();
                            } else {
                                showSpinnerPropetry();
                                EnableBtn();
                            }
                        });
                    });

                });

                function showSpinnerPropetry() {

                    $('#spinner-div-property').show();
                }

                function hideSpinnerPropetry() {
                    $('#spinner-div-property').hide();

                }
            </script>
        </apex:form>
    </body>
</apex:page>