<apex:page controller="EditRelatedListController" showheader="false" sidebar="false" id="eRLPg" title="{!childObjectPluralLabel} of {!parentObjectRecName} {!parentObjectLabel}" >
    <html>
        <head>
            <style>
                 select {
                    width:9.5vw;
                }
                .dateFormat {
                    display:none;
               }
              .lookupInput input{
                   width:9.5vw;
               }
               .bPageBlock .detailList tr td.dataCol, 
                .bPageBlock .detailList tr td.labelCol
                {
                    border-bottom:none;
                    
                }
                .bPageBlock .detailList tr td.dataCol.empty, 
                .bPageBlock .detailList tr td.labelCol.empty
                {
                    display:none;
                    
                }
                
              
                /*body .bPageBlock .pbBody .labelCol, body .print .topics-label {
                    width:10vw;
                }*/
                .pbSubsection.detailList{
                    width:100vw!important;
                }
                .pbSubsection.detailList.labelCol empty{
                display:none;
                }
                .pbSubsection.detailList.dataCol empty{
                display:none;
                }
                
            </style>
        </head>
        <body>
            <div style = "width:100%;overflow:hidden">
                <apex:form id="formId">
                
                    <apex:pageBlock title="{!childObjectPluralLabel} of {!parentObjectLabel}" id="form" >
                        <apex:pageBlockButtons id="pbb"  >
                            <apex:commandButton value="Save" action="{!save}" id="saveForm" style="margin-left:10vw;" />
                            <apex:commandButton value="New {!childObjectLabel}" action="{!addRow}" id="addRow" rerender="opRepeat" immediate="true" html-formnovalidate="formnovalidate"  />
                            <apex:commandButton value="Cancel" id="idCancel" action="{!cancel}" immediate="true" />
                        </apex:pageBlockButtons>
                        <apex:pageMessages ></apex:pageMessages>
                        <apex:outputPanel style="overflow:hidden;width:100%" id="opRepeat">
                            <apex:repeat value="{!rlRecs}" var="rlRecords" id="recRep" >
                                <apex:outputPanel layout="block" title=" Records" id="op">
                                    <apex:pageBlockSection columns="8" id="pbs8" >
                                        <apex:repeat value="{!fields}" var="flds">
                                            <apex:pageBlockSection columns="1" id="pbsRec" >
                                                <apex:pageBlockSectionItem labelStyle="height:6vh;width:9.5vw" dataStyle="height:6vh;width:9.5vw" id="pbsiLb">
                                                    <apex:outputLabel value="{!mapFieldLabels[flds]}" style="width:9.5vw" />
                                                </apex:pageBlockSectionItem>
                                                <apex:outputPanel rendered="{!If(mapFieldDetails[flds].isLookUp,true,false)}">
                                                <apex:pageBlockSectionItem labelStyle="width:9.5vw" dataStyle="width:9.5vw"  >
                                                    
                                                        <!--<c:CS_autoCompleteComponent allowClear="true" importJquery="true" labelField="Name" SObject="{!mapLookUpObject[flds]}" valueField="Id" targetField="{!rlRecords.objRec[flds]}"  style="width:200px"/>-->
                                                         <apex:inputfield value="{!rlRecords.objRec[flds]}" id="memNam" style="width:9.5vw" required="{!mapFieldDetails[flds].isRequired}">
                                                            <c:autoComplete autocomplete_textbox="{!$Component.memNam}" objectname="{!mapLookUpObject[flds]}" />
                                                        </apex:inputfield>
                                                        </apex:pageBlockSectionItem>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!If(mapFieldDetails[flds].isLookUp,false,true)}">
                                                    <apex:pageBlockSectionItem labelStyle="width:9.5vw" dataStyle="width:9.5vw" >
                                                        <apex:inputField value="{!rlRecords.objRec[flds]}" style="width:9.5vw" required="{!mapFieldDetails[flds].isRequired}" />
                                                    
                                                </apex:pageBlockSectionItem>
                                                </apex:outputPanel>
                                            </apex:pageBlockSection>
                                        </apex:repeat>
                                    </apex:pageBlockSection>
                                </apex:outputPanel>
                                <apex:commandButton style="margin-left:45vw;" value="Delete" onclick="if(!confirm('Are you want to delete this record?')){return false;}" action="{!deleteRow}" rerender="opRepeat" immediate="true" html-formnovalidate="formnovalidate" >
                                    <apex:param value="{!rlRecords.index}" name="deletedID" />
                                </apex:commandButton>
                                <hr style = " border-top: 1px solid #8c8b8b;"></hr>
                            </apex:repeat>
                        </apex:outputPanel>
                    </apex:pageBlock>
                </apex:form>
            </div>
        </body>
    </html>
</apex:page>