<apex:page standardController="Account" extensions="NewsSearch_Controller">
<head>
<style>
.container {
    overflow: auto;
    height: 50px;
    align: bottom;
}

.toolbButton {
    background-color:#007dc1;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline;
    cursor:pointer;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:12px;
    font-weight:bold;
    padding:4px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    margin-left:4px;
}

.toolbButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
    color:#ffffff;
}

.toolbButton:active {
    position:relative;
    top:1px;
}

</style>
</head>
<apex:form >
    <apex:pageMessages />
    <div style="padding-bottom:2px;">
        <apex:inputText value="{!searchValue}"/>&nbsp;
        <apex:commandButton value="News" action="{!searchNews}"/>
        <span style="padding-left:28%;">
            <apex:commandLink styleclass="toolbButton" value="Prev" action="{!prevNews}" rendered="{!prevbutton}"/>
            <apex:commandLink styleclass="toolbButton" value="Next" action="{!nextNews}" rendered="{!nextbutton}"/>
        </span>
    </div>
    <apex:pageBlock rendered="{!lstNewsArticles.size > 0}">
        <apex:pageBlockTable var="News" value="{!lstNewsArticles}">
            <apex:column width="20%" headerValue="Source" value="{!News.source.Name}"/>
            <apex:column width="60%" headerValue="Title">
                <a href="{!News.links.permalink}" target="_blank">{!News.Title}</a>
            </apex:column>
            <apex:column width="20%" headerValue="Published On" value="{!News.published_at}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>    
</apex:form>
</apex:page>