<apex:page Controller="CS_EditProproprtyJunctionController" standardStylesheets="false" showHeader="false" sidebar="false" action="{!getCategories}">
	<head>
	    <style>
	        .spacing{
	            margin:1em;
	        }
	        #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#contacttable_filter{
    display:none;
}
#contacttable_length{
    display:none;
}
#contacttable_paginate{
    display:none;
}
#contacttable_info{
    display:none;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
	    </style>
	     <apex:stylesheet value="{!URLFOR($Resource.lighteningDesignSystem, 'assets/styles/salesforce-lightning-design-system.css')}" />  
		<apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
		<apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
		<apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
	
	</head>
	<body>
	    <apex:form >
	   <apex:actionFunction action="{!SelectedProperty}" name="PassIds"  rerender="AddedTable,propertyTable" oncomplete="rerendertable()">
                 <apex:param value="" name="Selids"/>
             </apex:actionFunction>    
              <apex:actionfunction name="Dels" action="{!deleteSelectedRow}" oncomplete="rerendertable()" rerender="AddedTable,propertyTable" status="pageStatus">

                        <apex:param name="rowToBeDeleted" value="" assignTo="{!IdtoDelete}" />
                    </apex:actionfunction>
                    <div style="border: 2px solid  #d8dde6;margin:1em;">
                        <div class="slds-text-heading--small" style="font-Weight: bold; margin: 1em;">{!$Label.Property_Search} </div>
                    <apex:outputPanel id="propertyTable">
                        <table id="contacttable111" class="display">
			<thead>
				<tr>
					<th style="padding: 1em;">	<apex:commandButton value="Search" id="idCancelss" action="{!firstfilter}" rerender="AddedTable,propertyTable,btnss" oncomplete="rerendertable();" styleClass="slds-button slds-button--neutral slds-not-selected spacing" /></th>
					<th  style="padding: 1em;"> <apex:inputText styleclass="slds-input disableinput finaledit" value="{!PostalFilter}" /></th>
					<th  style="padding: 1em;"> <apex:inputText styleclass="slds-input disableinput finaledit" value="{!StreetFilter}" /> </th>
					<th  style="padding: 1em;">  <apex:inputText styleclass="slds-input disableinput finaledit" value="{!BldingFilter}" /></th>
					<th  style="padding: 1em;"> <apex:inputText styleclass="slds-input disableinput finaledit" value="{!TownFilter}" /></th>
				</tr>
			</thead>
			</table>
		<table id="contacttable" class="display">
			<thead>
				<tr>
					<th></th>
					<th>{!$Label.Postal_Code}</th>
					<th> {!$Label.Street}</th>
					<th> {!$Label.Building}</th>
					<th> {!$Label.Town}</th>
				</tr>
			</thead>
			<tbody>
			    
			<apex:repeat value="{!ListbooleanProproprtyWrapper}" var="proprty" id="Rpt">
					<tr>
						<td>  <apex:inputCheckbox id="chckbx" onchange="getselectedids(this,'{!proprty.Prprty.Id}')" value="{!proprty.isselected}" />   </td>
						<td>{!proprty.Prprty.Post_Code__c}</td>
						<td>{!proprty.Prprty.Street__c}</td>
						<td>{!proprty.Prprty.Building_Name__c}</td>
						<td>{!proprty.Prprty.Town__c}</td>
					</tr>
				</apex:repeat>
			</tbody>
		</table>
		
		</apex:outputPanel>
		<apex:pageMessages id="showmsg"></apex:pageMessages>
		<apex:panelGrid columns="4" style="width:30%" id="btnss">
    <apex:commandLink action="{!first}" rerender="propertyTable,btnss" oncomplete="rerendertable();">First</apex:commandlink>
    <apex:commandLink action="{!previous}" rendered="{!hasPrevious}" rerender="propertyTable,btnss" oncomplete="rerendertable();">Previous</apex:commandlink>
    <apex:commandLink action="{!next}" rendered="{!hasNext}" rerender="propertyTable,btnss" oncomplete="rerendertable();">Next</apex:commandlink>
    <apex:commandLink action="{!last}" rerender="propertyTable,btnss" oncomplete="rerendertable();">Last</apex:commandlink> 
    </apex:panelGrid>
		<apex:commandButton value="Add to Selected" id="idCancel" onclick="AddToJn();return false;" oncomplete="rerendertable();" styleClass="slds-button slds-button--neutral slds-not-selected spacing" />
</div>
<div id="snackbar">Record Saved..</div>

<div style="border: 2px solid  #d8dde6;margin:1em;">
	 <div class="slds-text-heading--small" style="font-Weight: bold; margin: 1em;">Selected Properties </div>
	    <apex:outputPanel id="AddedTable">
		<table id="contacttables" class="display">
			<thead>
				<tr>
				<!--	<th></th>-->
					<th>{!$Label.Postal_Code}</th>
					<th>{!$Label.Street}</th>
					<th> {!$Label.Building}</th>
					<th> {!$Label.Town}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			    <apex:variable var="i" value="{!0}" />
			<apex:repeat value="{!ListbooleanProproprtyJnWrapper}" var="proprty" id="Rpts">
					<tr>
						<!--<td>  <apex:inputCheckbox id="chckbx" value="{!proprty.isselected}" />   </td>-->
						<td>{!proprty.Postal}</td>
						<td>{!proprty.Street}</td>
						<td>{!proprty.Building}</td>
						<td>{!proprty.Town}</td>
						<td>   <span class="ui-icon ui-icon-trash" onclick="Dels('{!i}')" >{!$Label.Delete}</span></td>
					</tr>
					<apex:variable var="i" value="{!i+ 1}" />
				</apex:repeat>
			</tbody>
		</table>
		
		</apex:outputPanel>
		<div class="slds">
			<apex:commandButton value="{!$Label.Add_to_Account_and_Close}" id="idSave" action="{!SaveRecords}" rerender="showmsg" oncomplete="rerendertables('{!isError}');" rendered="{!keyPrefix=='001'}" styleClass="slds-button slds-button--neutral slds-not-selected spacing" />
				<apex:commandButton value="{!$Label.Add_to_Opportunity_and_Close}" id="idSaves" action="{!SaveRecords}" rerender="showmsg" oncomplete="rerendertables('{!isError}');" rendered="{!keyPrefix=='006'}" styleClass="slds-button slds-button--neutral slds-not-selected spacing" />
				<!--<apex:commandButton value="Cancel" id="idCancels" action="{!SaveRecords}" oncomplete="rerendertable();" styleClass="slds-button slds-button--neutral slds-not-selected spacing" />-->
	 <apex:outputLink value="/{!Ids}" styleclass="slds slds-button slds-button--destructive " style="    font-weight: bold;    font-size: .9em;  " id="theLinksss">{!$Label.Cancel}</apex:outputLink>
		</div>
		</div>
		<script>
		     var selectedmember = new Array();
  var listofids='';
  function getselectedids(ele,id){
           
           if(ele.checked){
               selectedmember.push(id);
              // alert(selectedmember);
           }
           else{
               var index = selectedmember.indexOf(id);
               if (index > -1) {
                    selectedmember.splice(index, 1);
                }
           }
           
           listofids = selectedmember.join();
            
       }
       
       function AddToJn(){
          //alert(listofids);
           PassIds(listofids);
       }
       function rerendertables(err){
           
			
				//alert(err);
				if(err== 'false'){
				 myFunction();
				    
				}
           
           
       }
       function rerendertable(){
           if (!$.fn.DataTable.isDataTable('[id$="contacttables"]')) {
				var contactTable = $('[id$="contacttables"]').DataTable({
					
				});
           } 
           if (!$.fn.DataTable.isDataTable('[id$="contacttable"]')) {
					var contactTable = $('[id$="contacttable"]').DataTable({
					
				});
           }
				$(".btn").removeClass("btn");
				listofids='';
				selectedmember = new Array();
				 //myFunction();
           
           
       }
       
       
		</script>
			<script>
		function myFunction() {
    var x = document.getElementById("snackbar")
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
			$(document).ready( function () {
				var contactTable = $('[id$="contacttable"]').DataTable({
					
				});
				
				var contactTable = $('[id$="contacttables"]').DataTable({
					
				});
					$(".btn").removeClass("btn");
			});
			
			
		</script>
		</apex:form>
	</body>
</apex:page>