<apex:page showHeader="true" sidebar="true" controller="SharingRuleTriggerBatchCtrl">
	<style type="text/css">
		
		.requiredLegend{
			display: none !important;
		}

		.btn, .btn:hover{
			text-decoration: none !important;
		}

	</style>

	<apex:form >
		<apex:pageMessages id="messages"/>

		<apex:pageBlock mode="edit">

            <apex:pageBlockButtons >
            	<apex:outputLink value="/{!sharingRuleObjectPrefixForLink}" styleClass="btn">{!$Label.Return_button}</apex:outputLink>
            </apex:pageBlockButtons>

	        <apex:pageBlockSection title="{!$Label.Sharing_Settings_Monitoring}" collapsible="false">

	          	<apex:pageBlockSectionItem >
	          		<apex:outputPanel >
	          			<apex:outputText value="{!$Label.Sharing_is_Off}" style="color: red;" rendered="{! !currentSharingConfigIsOn}" />
	           			<apex:outputText value="{!$Label.Sharing_is_On}" style="color: green;" rendered="{! currentSharingConfigIsOn}" />
	           		</apex:outputPanel>

	           		<apex:outputLink value="/setup/ui/listCustomSettingsData.apexp?id={!currentSharingConfigObjectPrefixForLink}" target="_blank">{!$Label.Sharing_manage_setting}</apex:outputLink>
	           	</apex:pageBlockSectionItem>

	        </apex:pageBlockSection>

            <apex:variable value="{!0}" var="rowCount"/>
            <apex:pageBlockSection title="{!$Label.Status_of_batch_processes}" collapsible="false">
	            	
	            	<apex:repeat value="{!currentEngineStatuses}" var="entity">
	            		<apex:pageBlockSectionItem >
	            			<apex:outputPanel >
            					<apex:outputText value="{!entity.Name} - {!$Label.Sharing_is_running}" style="color: blue;" rendered="{!entity.Batch_Processing_in_Progress__c}" />
            					<apex:outputText value="{!entity.Name} - {!$Label.Sharing_is_not_running}" style="color: black;" rendered="{! !entity.Batch_Processing_in_Progress__c}" />
            					<apex:variable value="{!rowCount + 1}" var="rowCount"/>
            				</apex:outputPanel>
            				<apex:outputPanel >
                    			<!--<apex:outputLink value="/{!entity.Id}" target="_blank" rendered="{! !ISBLANK(entity.Id)}">view setting</apex:outputLink>
                    			<apex:outputText value="no settings yet (created automatically upon first run)" rendered="{!ISBLANK(entity.Id)}" />-->
                    		</apex:outputPanel> 
                		</apex:pageBlockSectionItem>
	            	</apex:repeat>

	            	<apex:pageBlockSectionItem rendered="{!MOD(rowCount,2)!=0}"/>
	            	
	           		<apex:outputLink value="/apexpages/setup/listAsyncApexJobs.apexp" target="_blank">{!$Label.View_Apex_batch_jobs_list}</apex:outputLink>

	           		<apex:pageBlockSectionItem />

	           		<apex:outputLink value="/{!errorLogObjectPrefixForLink}" target="_blank">{!$Label.View_Error_Logs_List}</apex:outputLink>


	        </apex:pageBlockSection>
            
            <apex:pageBlockSection title="{!$Label.Run_batch}" collapsible="false">

            	<apex:pageBlockSectionItem >
            	<apex:outputPanel >
            		<apex:outputLabel value="{!$ObjectType.Sharing_Rule__c.fields.Object__c.Label}" for="whichSObject" style="margin-right: 5px;" />
					<apex:selectList value="{!whichSObject}" size="1" id="whichSObject">
        				<apex:selectOptions value="{!sharingRuleWhichObjectOptions}"/>
                    </apex:selectList>
                    </apex:outputPanel>
                    <apex:commandButton value="{!$Label.Button_Queue_batch_job}" reRender="messages" action="{!triggerBatch}" />
                </apex:pageBlockSectionItem>

            </apex:pageBlockSection>

        </apex:pageBlock>

	</apex:form>
</apex:page>