<apex:page id="mypage" standardStylesheets="true" controller="Vals_SummaryPageController"  renderAs="PDF" applyBodyTag="false" title="Inspection Summary">

    <head>
        <title>Inspection Summary PDF</title>
        <style type="text/css">
           @page {
                margin-top: 4cm;
                margin-bottom: 3cm;

                @top-center {
                    content: element(header);
                }
                @bottom-center {
                    content: element(footer);
                }
            }
            div.header {
                padding: 10px;
                position: running(header);
            }
            div.footer {
                display: block;
                padding: 5px;
                position: running(footer);
             }
            .pagenumber:before {
                content: counter(page);
            }
            .pagecount:before {
                content: counter(pages);
            }
            div.content {
                <!-- border-style:dotted; -->
                float: left;
                width: 100%;
                align-content:center;
            }
            .tablehead {
                border: 1px solid;
                background-color: #99C68E;
                font-weight: bold;
                font-size: 120%;
            }

        .totals {
            background-color: #0099FF;
            font-weight: bold;
        }
        
        .infohead {
            
          font-size: 120%;
          font-weight: bold;
        }
        
        .odd {
         border-bottom: 1px solid #000;
         background-color: #f7f9fb;
         padding: 1px 1px 2px 2px;
         font-size: 100%;
        }
        
        .even {
           border-bottom: 1px solid #000;
           padding: 1px 1px 2px 2px;
           font-size: 100%;
        }
        
        .highlightcol {
            border-bottom: 1px solid #d8dde6;
            background: #cce6ff;
        
        }
            
        .sideheading{
            color:#004280;
            }

            
        </style>
    </head>




<apex:form >
    <div> 
        <!-- Header -->
        <div class="header" style="font-family:Arial Unicode MS;display:block;" >
            <div style="width:600px;float:left;position:relative;">
                
                <p style="font-size:25px;color:#19004d;display:inline;font-family:Helvetica;">Inspection Summary</p>
            </div>
             <div style="width:200px;float:right;position:relative;">
                <apex:image url="{!$Resource.colCapital}" style="height:6em;float:right;"/>
            </div>
            
         </div>
         <br> </br>
         <br> </br>
      
        <div class="slds-m-top--x-large" style="font-family:Arial Unicode MS;display:block;position:relative;overflow:hidden;" >
             <div >
           
                 <hr/>
                    <table width="100%">  
                    <thead>
                        <tr class="infohead highlightcol">
                            <td colspan="2">
                                Inspection Details
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="sideheading">
                            <td  align="left" > Inspection </td>
                        </tr>
                        <tr class="odd">
                            <td  align="left" > Inspection Name:</td>
                            <td  align="left">{!inspectionObj.Name}</td>
                        </tr>
                        <tr class="even">
                            <td  align="left" > Job Name:</td>
                            <td  align="left">{!inspectionObj.Job_Name__c}</td>
                        </tr>
                        <tr class="odd">
                            <td  align="left">Job Number:</td>
                            <td  align="left">{!inspectionObj.Job_Number__c}</td>
                        </tr>
                        <tr class="even">
                            <td  align="left">Property:</td>
                            <td  align="left">{!inspectionObj.Property_Address__c}</td>
                        </tr>
                        <tr class="odd">
                            <td  align="left">Special Requirements:</td>
                            <td  align="left">{!inspectionObj.Special_Requirements__c}</td>
                        </tr>
                        <tr class="even">
                            <td  align="left">Inspection Type:</td>
                            <td  align="left">{!inspectionObj.Inspection_Type_del__c}</td>
                        </tr>
                        <tr class="odd">
                            <td  align="left">Inspecting Surveyor:</td>
                            <td  align="left">{!inspectionObj.Inspecting_Surveyor__c}</td>
                        </tr>
                        <tr class="even">
                            <td  align="left">Measurement Required:</td>
                            <td  align="left">{!inspectionObj.Measurement_Required__c}</td>
                        </tr>
                        <tr class="odd">
                            <td  align="left">No. of External Inspections:</td>
                            <td  align="left">{!inspectionObj.Count_of_External_Inspection__c}</td>
                        </tr>
                         <tr class="even">
                            <td  align="left">No. of Internal Inspections:</td>
                            <td  align="left">{!inspectionObj.No_of_Internal_Inspections__c}</td>
                        </tr>
                         <tr class="odd">
                            <td  align="left">Site Contact:</td>
                            <td  align="left">{!inspectionObj.Site_Contact__c}</td>
                        </tr>
                         <tr class="even">
                            <td  align="left">Site Mobile:</td>
                            <td  align="left">{!inspectionObj.Site_Mobile__c}</td>
                        </tr>
                        <tr class="odd">
                            <td  align="left">Site Landline:</td>
                            <td  align="left">{!inspectionObj.Site_Landline__c}</td>
                        </tr>
                        <tr class="even">
                            <td  align="left">Site Email:</td>
                            <td  align="left">{!inspectionObj.Site_Email__c}</td>
                        </tr>
                        <tr class="odd">
                            <td  align="left">Date, time of Inspection:</td>
                            <td  align="left">{!inspectionObj.Date_Time_of_Inspection__c}</td>
                        </tr>
                        <tr class="even">
                            <td  align="left">Is Development/Land:</td>
                            <td  align="left">Yes</td>
                        </tr>
                        <tr class="odd">
                            <td  align="left">Is Development/Land Subtype:</td>
                            <td  align="left">{!inspectionObj.Is_Development_Land_Subtype__c}</td>
                        </tr>
                        <tr class="even">
                            <td  align="left">Mixed Use:</td>
                            <td  align="left">Yes</td>
                        </tr>
                        <tr class="odd"> 
                            <td  align="left">Mixed Use Subtype:</td>
                            <td  align="left">{!inspectionObj.Mixed_Use_Subtype__c}</td>
                        </tr> 
                        </tbody>
                    </table>     
                 <hr/>
                </div>          

        </div>
        <apex:outputPanel rendered="{!hasExternal}" id="ExternalInspectionsPanel" layout="none">
            <!--<p style="font-size:20px;color:#19004d;display:inline;font-family:Helvetica;">External Inspections:</p>-->
            <div class="slds-m-top--x-large" style="font-family:Arial Unicode MS;display:block;position:relative;overflow:hidden;"  >
            <table width="100%" >
                
                <thead>
                        <tr class="infohead highlightcol">
                            <td colspan="2">
                               External Inspections
                            </td>
                        </tr>
                </thead>
                 <tbody>
                                      
                      <apex:repeat value="{!externalwrapperlist}" var="temp" id="externalrpt">
                          <div >
                              <!--style="page-break-after:always;"-->
                           <tr class="sideheading">
                            <td  align="left" > External Inspection </td>
                        </tr> 
                      
                        <tr class="even">
                           <td style="width:200px" align="left">External Inspection Name1:</td>
                           <td style="width:600px" align="left">{!temp.extobj.name}</td>
                        </tr>
                        
                        <tr class="even">
                           <td style="width:200px" align="left">External Inspection Name:</td>
                           <td style="width:600px" align="left">{!temp.extobj.name}</td>
                        </tr>
                        <tr  class="odd">
                           <td style="width:200px" align="left">Count of Internal Inspections:</td>
                           <td style="width:600px" align="left">{!temp.extobj.Count_of_Internal_Inspection__c}</td>
                        </tr>
                        <tr class="even">
                           <td style="width:200px" align="left">Property Notes:</td>
                           <td style="width:600px" align="left">{!temp.extobj.Property_Notes__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  style="width:200px" align="left">Extension Notes:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Extension_Notes__c}</td>
                        </tr>
                        <hr/>
                        
                        <tr class="sideheading">
                            <td  align="left" > Construction </td>
                        </tr>                
                        <tr class="odd">
                           <td  style="width:200px" align="left">Construction is:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Building_Construction_RepValue__c}</td>
                        </tr>
                        <tr  class="even">
                           <td  style="width:200px" align="left">Construction - Other:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Other_Building_Construction__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  style="width:200px" align="left">Built in:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Construction_Year__c}</td>
                        </tr>
                        <!--<tr class="odd">
                           <td  style="width:200px" align="left">Construction - Century:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Century__c}</td>
                        </tr>
                        <tr class="even">
                           <td  style="width:200px" align="left">Construction - Decade:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Decade__c}</td>
                        </tr>-->
                        <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Elevations </td>
                        </tr>                
                        <tr class="odd">
                           <td  style="width:200px" align="left">Elevation is:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.The_Front_Elevation_is_RepValue__c}</td>
                        </tr>
                        <tr  class="even">
                           <td  style="width:200px" align="left">Elevation - Other:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Other_Front_Elevation__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  style="width:200px" align="left">Other Elevations are:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Other_Elevations_are_RepValue__c}</td>
                        </tr>
                        <tr  class="even">
                           <td  style="width:200px" align="left">Other Elevations - Other:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Other_Other_Elevations__c}</td>
                        </tr>
                        <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Roof </td>
                        </tr>                
                        <tr class="odd">
                           <td  style="width:200px" align="left">Roofing is:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.The_Roof_is_RepValue__c}</td>
                        </tr>
                        <tr  class="even">
                           <td  style="width:200px" align="left">Roofing - Other:</td>
                           <td  style="width:600px" align="left">{!temp.extobj.Other_Roof__c}</td>
                        </tr>
                        <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Coverings </td>
                        </tr>                
                        <tr class="odd">
                           <td  width="200px" align="left">Covered in:</td>
                           <td  width="600px" align="left">{!temp.extobj.Covered_in_RepValue__c}</td>
                        </tr>
                        <tr  class="even">
                           <td  width="200px" align="left">Covered in - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Covered_In__c}</td>
                        </tr>
                        <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Windows </td>
                        </tr>                
                        <tr class="odd">
                           <td  width="200px" align="left">Windows are:</td>
                           <td  width="600px" align="left">{!temp.extobj.The_windows_are_Rep_Value__c}</td>
                        </tr>
                        <tr class="even">
                            <td width="200px" align="left">Windows - Other:</td>
                            <td width="600px" align="left">{!temp.extObj.Other_Windows__c}</td>
                        </tr>
                        <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Frames </td>
                        </tr>                
                        <tr class="even">
                           <td  width="200px" align="left">Frames are:</td>
                           <td  width="600px" align="left">{!temp.extobj.Frames_are_RepValue__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">Frames - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Frames__c}</td>
                        </tr>
                        <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Staircases </td>
                        </tr>                
                        <tr class="even">
                           <td  width="200px" align="left">Staircases are:</td>
                           <td  width="600px" align="left">{!temp.extobj.Staircases_RepValue__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">Staircases - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Staircases__c}</td>
                        </tr>
                         <hr/>
                          <p>
                        <tr class="sideheading">
                            <td  align="left" > Parking </td>
                              </tr></p>              
                        <tr class="even">
                           <td  width="200px" align="left">Parking Type:</td>
                           <td  width="600px" align="left">{!temp.extobj.Parking_Type__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">Parking - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Parking__c}</td>
                        </tr>
                        <tr class="even">
                           <td  width="200px" align="left">Parking Surface is:</td>
                           <td  width="600px" align="left">{!temp.extobj.Parking_surface_RepValue__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">No. of Parking Spaces:</td>
                           <td  width="600px" align="left">{!temp.extobj.No_Parking_Spaces__c}</td>
                        </tr>
                        <tr class="even">
                           <td  width="200px" align="left">Parking Surface - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Parking_Surface__c}</td>
                        </tr>
                        <!-- <tr class="odd">-->
                        <!--   <td  width="200px" align="left">No. parking spaces RepValue:</td>-->
                        <!--   <td  width="600px" align="left">{!temp.extobj.No_parking_spaces_RepValue__c}</td>-->
                        <!--</tr>-->
                        <hr/>
                        <tr class="sideheading">
                            <td  align="left" > External Areas </td>
                        </tr>                
                        <tr class="odd">
                           <td  width="200px" align="left">Loading Bays:</td>
                           <td  width="600px" align="left">{!temp.extobj.Loading_Bays__c}</td>
                        </tr>
                        <tr class="even">
                           <td  width="200px" align="left">Loading Bays - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Loading_Bays__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">External Areas (Single):</td>
                           <td  width="600px" align="left">{!temp.extobj.External_Areas__c}</td>
                        </tr>
                        <tr class="even">
                           <td  width="200px" align="left">External Areas (Multi):</td>
                           <td  width="600px" align="left">{!temp.extobj.External_Areas_multi__c}</td>
                        </tr>
                        <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Condition </td>
                        </tr>                
                        <tr class="odd">
                           <td  width="200px" align="left">External Decoration is:</td>
                           <td  width="600px" align="left">{!temp.extobj.External_Decoration_is__c}</td>
                        </tr>
                        <tr class="even">
                           <td  width="200px" align="left">External Wall Defects:</td>
                           <td  width="600px" align="left">{!temp.extobj.External_Wall_Defects__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">External Wall Defects - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Defects_Wall__c}</td>
                        </tr>
                        <tr class="even">
                           <td  width="200px" align="left">Roof Defects:</td>
                           <td  width="600px" align="left">{!temp.extobj.Roof_Defects__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">Roof Defects - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Defects_Roof__c}</td>
                        </tr>
                        <tr class="even">
                           <td  width="200px" align="left">Window Defects:</td>
                           <td  width="600px" align="left">{!temp.extobj.Window_Defects__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">Window Defects - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Defects_Windows__c}</td>
                        </tr>
                        <tr class="even">
                           <td  width="200px" align="left">Floor Defects:</td>
                           <td  width="600px" align="left">{!temp.extobj.Floor_Defects__c}</td>
                        </tr>
                        <tr class="odd">
                           <td  width="200px" align="left">Floor Defects - Other:</td>
                           <td  width="600px" align="left">{!temp.extobj.Other_Defects_Floor__c}</td>
                        </tr>
                        <hr/>
            <apex:outputPanel id="InternalInspectionsPanel" rendered="{!temp.hasInternal}" layout="none">
               
                <table width="100%" >
                     <thead>
                        <tr class="infohead highlightcol"  style="font-family:Arial Unicode MS;">
                            <td colspan="2">
                              Internal Inspections
                            </td>
                        </tr>
                </thead>
                    <tbody>
                        <tr class="sideheading">
                            <td  align="left" > Internal Inspection </td>
                        </tr>                
                        <apex:repeat value="{!temp.intInspectionList}" var="temp1" id="intrpt">
                            <div style="page-break-after:auto;">
                           <tr class="odd">
                                <td>Internal Inspection Name:</td>
                                <td>{!temp1.name}</td>
                            </tr>
                               
                            <tr class="odd">
                                <td>External Inspection:</td>
                                <td>{!temp1.External_Inspection__r.Name}</td>
                            </tr>

                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Ceilings </td>
                        </tr>                
                            <tr class="even">
                                <td>The ceiling are:</td>
                                <td>{!temp1.The_Ceilings_are_RepValue__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Ceilings - Other:</td>
                                <td>{!temp1.Other_Ceilings__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Roof Lights Percentage:</td>
                                <td>{!temp1.Roof_Lights_Wholly_Mainly__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Roof Lights - Other:</td>
                                <td>{!temp1.Rooflights_Other__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Floor Ceiling Height (m):</td>
                                <td>{!temp1.Floor_Ceiling_Height__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Clear eaves height (m):</td>
                                <td>{!temp1.Clear_eaves_height_m__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Light Fixings are:</td>
                                <td>{!temp1.Light_Fixing_RepValue__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Light Fixing - Other:</td>
                                <td>{!temp1.Other_LightFixings__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Lighting type is:</td>
                                <td>{!temp1.Lighting_Type_RepValue__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Lighting Type - Other:</td>
                                <td>{!temp1.Other_LightType__c}</td>
                            </tr>
                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Walls </td>
                        </tr>                
                            <tr class="odd">
                                <td>The Internal Walls are:</td>
                                <td>{!temp1.The_Internal_Walls_are_RepValue__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Internal Walls - Other:</td>
                                <td>{!temp1.Other_InternaWalls__c}</td>
                            </tr>
                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Floors </td>
                        </tr>                
                            <tr class="odd">
                                <td>Floor Construction is:</td>
                                <td>{!temp1.Construction_RepValue__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Floor Construction - Other:</td>
                                <td>{!temp1.Other_Floor_Costruction__c}</td>
                            </tr>
                                                        
                            <tr class="odd">
                                <td>Floor Covering:</td>
                                <td>{!temp1.Covering_RepValue__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Floor Covering - Other:</td>
                                <td>{!temp1.Other_Floor_Covering__c}</td>
                            </tr>
                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Staircases </td>
                        </tr>                
                            <tr class="odd">
                                <td>Main Staircases are:</td>
                                <td>{!temp1.Main_Staircases_RepValue__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Main Staircases - Other:</td>
                                <td>{!temp1.Other_Main_Staircase__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Ancillary Staircases are:</td>
                                <td>{!temp1.Ancillary_Staircases_RepValue__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Ancillary Staircases - Other:</td>
                                <td>{!temp1.Other_Ancillary_Staircase__c}</td>
                            </tr>
                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > General </td>
                        </tr>                
                            <tr class="odd">
                                <td>How many Bathrooms:</td>
                                <td>{!temp1.How_Many_Bathrooms__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Bathroom Specification:</td>
                                <td>{!temp1.Bathroom_Specification__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Kitchen Specification:</td>
                                <td>{!temp1.Kitchen_Specification__c}</td>
                            </tr>
                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Heating </td>
                        </tr>                
                            <tr class="even">
                                <td>Heating is:</td>
                                <td>{!temp1.Heating_RepValue__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Heating - Other:</td>
                                <td>{!temp1.Other_Heating__c}</td>
                            </tr>
                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Services </td>
                        </tr>                
                            <tr class="even">
                                <td>Number Of Lifts:</td>
                                <td>{!temp1.Number_Of_Lifts__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Number Of Person Lifts:</td>
                                <td>{!temp1.No_Of_Person_Lifts__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Capacity(Kg):</td>
                                <td>{!temp1.Capacity__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Hazardous Materials:</td>
                                <td>{!temp1.Hazardous_Materials__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Electricity:</td>
                                <td>{!temp1.Electricity__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Power Disribution is:</td>
                                <td>{!temp1.Power_Distribution_RepValue__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Main Services:</td>
                                <td>{!temp1.Services_Main__c}</td>
                            </tr>
                            <!--<tr class="even">
                                <td>Gas:</td>
                                <td>{!temp1.Gas__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Water:</td>
                                <td>{!temp1.Water__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Mains Drainage:</td>
                                <td>{!temp1.Mains_Drainage__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Hot Water:</td>
                                <td>{!temp1.Hot_Water__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Air Conditioning:</td>
                                <td>{!temp1.Air_Conditioning__c}</td>
                            </tr>-->
                            <tr class="odd">
                                <td>Concierge:</td>
                                <td>{!temp1.Concierge__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Swimming Pool:</td>
                                <td>{!temp1.Swimming_Pool__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Gym:</td>
                                <td>{!temp1.Gym__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Services - Other:</td>
                                <td>{!temp1.Other_Services__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Alarm - Intruder:</td>
                                <td>{!temp1.Alarm_Intruder__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Alarm - Fire/Smoke:</td>
                                <td>{!temp1.Alarm_Fire_Smoke__c}</td>
                            </tr>
                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Condition </td>
                        </tr>                
                            <tr class="odd">
                                <td>Specification:</td>
                                <td>{!temp1.Specification__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Decoration:</td>
                                <td>{!temp1.Decoration__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Ceiling Defects:</td>
                                <td>{!temp1.Ceiling_Defects__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Ceiling Defects - Other:</td>
                                <td>{!temp1.Other_Defects_Ceiling__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Internal Wall Defects:</td>
                                <td>{!temp1.Internal_Wall_Defects__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Internal Wall Defects - Other:</td>
                                <td>{!temp1.Other_Defects_Int_Walls__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Floor Defects:</td>
                                <td>{!temp1.Floor_Defects__c}</td>
                            </tr>
                            <tr class="even">
                                <td>Floor Defects - Other:</td>
                                <td>{!temp1.Other_Defects_Floors__c}</td>
                            </tr>
                            <hr/>
                        <tr class="sideheading">
                            <td  align="left" > Notes </td>
                        </tr>  
                         <tr class="even">
                                <td>Office Type:</td>
                                <td>{!temp1.Office_Type__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Office Type - Other:</td>
                                <td>{!temp1.Other_Office_Type__c}</td>
                            </tr>
                           
                            <tr class="even">
                                <td>Configuration:</td>
                                <td>{!temp1.Configuration__c}</td>
                            </tr>
                            <tr class="odd">
                                <td>Has the tenant(s) made improvements:</td>
                                <td>{!temp1.Has_the_tenant_s_made_improvements__c}</td>
                            </tr>
                        </div> 
                         </apex:repeat>
                     </tbody>
                </table>
                <hr/>
            </apex:outputPanel>
            <!--similar strucutre. add surrounding to the page: -->
       <!--similar strucutre. add surrounding to the page: -->
                    </div>
                     </apex:repeat>
                   
        
                 </tbody>
            </table> 
               <apex:outputPanel rendered="{!hasSurrounding}" id="SurroundingInspectionsPanel" layout="none">
            <!--<p style="font-size:20px;color:#19004d;display:inline;font-family:Helvetica;">External Inspections:</p>-->
            <div class="slds-m-top--x-large" style="font-family:Arial Unicode MS;display:block;position:relative;overflow:hidden;"  >
            <table width="100%" >
                
                <thead>
                        <tr class="infohead highlightcol">
                            <td colspan="2">
                               Surrounding Inspections
                            </td>
                        </tr>
                </thead>
                 <tbody>
                                      
                      <apex:repeat value="{!SurroudningWrapperList}" var="temp" id="surroundingrpt">
                          <div >
                              <!--style="page-break-after:always;"-->
                           <tr class="sideheading">
                            <td  align="left" > Surrounding Inspection </td>
                        </tr> 
                      
                        <tr class="even">
                           <td style="width:200px" align="left">Surrounding Inspection Name:</td>
                           <td style="width:600px" align="left">{!temp.surObj.name}</td>
                        </tr>
                         <tr class="odd">
                           <td style="width:200px" align="left">Established Area:</td>
                           <td style="width:600px" align="left">{!IF(temp.surObj.Is_Established_Area__c, 'Yes', 'No')} </td>
                        </tr>
                         <tr class="even">
                           <td style="width:200px" align="left">Neighboring Occupiers:</td>
                           <td style="width:600px" align="left">{!temp.surObj.Neighboring_Occupiers__c}</td>
                        </tr>
                        
                         <tr class="odd">
                           <td style="width:200px" align="left">Other Marketing Boards:</td>
                           <td style="width:600px" align="left">{!temp.surObj.Other_Marketing_Boards__c}</td>
                        </tr>
                        <tr class="odd">
                           <td style="width:200px" align="left">Accessibility:</td>
                           <td style="width:600px" align="left">{!temp.surObj.Accessibility__c}</td>
                        </tr>
                        
                        <hr/>
                            <tr class="sideheading">
                            <td  align="left" > Site Description </td>
                        </tr>   
                        <tr class="odd">
                           <td style="width:200px" align="left">Is The Site Level:</td>
                           <td style="width:600px" align="left">{!IF(temp.surObj.Is_Site_Level__c, 'Yes', 'No')} </td>
                        </tr>
                         <tr class="even">
                           <td  style="width:200px" align="left">Slopes From:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Site_Level_Subtype__c}</td>
                        </tr>
                       
                 <tr class="odd">
                           <td  style="width:200px" align="left">Slopes To:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Site_Level_To__c}</td>
                        </tr>
                            <tr class="even">
                           <td style="width:200px" align="left">Is the site secure:</td>
                           <td style="width:600px" align="left">{!IF(temp.surObj.Is_Site_Secure__c, 'Yes', 'No')} </td>
                        </tr>
                          <tr class="odd">
                           <td  style="width:200px" align="left">Security Type:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Security_Type__c}</td>
                        </tr>
                          <tr class="even">
                           <td  style="width:200px" align="left">Is Japanese Knotweed present:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Japanese_Knotweed__c,'Yes','No')}</td>
                        </tr>
                          <tr class="odd">
                           <td  style="width:200px" align="left">Fire Risk Assessment in Place:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Fire_Risk_Assessment_in_Place__c}</td>
                        </tr>
                          <tr class="even">
                           <td  style="width:200px" align="left">Asbestos Management Plan:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Asbestos_Management_Plan__c}</td>
                        </tr>
                          <tr class="odd">
                           <td  style="width:200px" align="left">General Enquiries:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.General_Enquiries__c}</td>
                        </tr>
                   
                        <hr/>
                            <tr class="sideheading">
                            <td  align="left" > Access Restrictions </td>
                        </tr>   
                         <tr class="even">
                           <td  style="width:200px" align="left">Site Access:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Site_Access__c}</td>
                        </tr>
                          <tr class="odd">
                           <td  style="width:200px" align="left">Roof access:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Has_Roof_Access__c,'Yes','No')}</td>
                        </tr>
                          <tr class="even">
                           <td  style="width:200px" align="left">Access to vault:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Has_Access_to_Vault__c,'Yes','No')}</td>
                        </tr>
                          <tr class="odd">
                           <td  style="width:200px" align="left">Access Restriction - Other:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Other__c}</td>
                        </tr>
                            
                          <hr/>
                            <tr class="sideheading">
                            <td  align="left" > Features </td>
                        </tr>   
                        
                         <tr class="even">
                           <td  style="width:200px" align="left">Rail track:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Rail_track__c,'Yes','No')}</td>
                        </tr>
                         <tr class="odd">
                           <td  style="width:200px" align="left">Substation:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Substation__c,'Yes','No')}</td>
                        </tr>
                         <tr class="even">
                           <td  style="width:200px" align="left">Lake:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Lake__c,'Yes','No')}</td>
                        </tr>
                         <tr class="odd">
                           <td  style="width:200px" align="left">River:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.River__c,'Yes','No')}</td>
                        </tr>
                         <tr class="even">
                           <td  style="width:200px" align="left">Large Trees:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Large_Trees__c,'Yes','No')}</td>
                        </tr>
                        
                        <tr class="odd">
                           <td  style="width:200px" align="left">Overhead Power Cables:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Overhead_Power_Cables__c,'Yes','No')}</td>
                        </tr>
                         <tr class="even">
                           <td  style="width:200px" align="left">Gas Containers:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Gas_Containers__c,'Yes','No')}</td>
                        </tr>
                         <tr class="odd">
                           <td  style="width:200px" align="left">Expansion Land:</td>
                           <td  style="width:600px" align="left">{!IF(temp.surObj.Expansion_Land__c,'Yes','No')}</td>
                        </tr>
                         <tr class="even">
                           <td  style="width:200px" align="left">Other 1:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Other_1__c}</td>
                        </tr>
                         <tr class="odd">
                           <td  style="width:200px" align="left">Other 2:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Other_2__c}</td>
                        </tr>
                         <tr class="even">
                           <td  style="width:200px" align="left">Other 3:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Other_3__c}</td>
                        </tr>
                          <hr/>
                            <tr class="sideheading">
                            <td  align="left" > Notes </td>
                        </tr>   
                          <tr class="even">
                           <td  style="width:200px" align="left">Weather:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Weather__c}</td>
                        </tr>
                          <tr class="odd">
                           <td  style="width:200px" align="left">Inspection Limitations:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Inspection_Limitations__c}</td>
                        </tr>
                          <tr class="even">
                           <td  style="width:200px" align="left">Occupancy:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Occupancy__c}</td>
                        </tr>
                          <tr class="odd">
                           <td  style="width:200px" align="left">Occupier:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Occupier_Type__c}</td>
                        </tr>
                          <tr class="even">
                           <td  style="width:200px" align="left">Location:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Location__c}</td>
                        </tr>
                          <tr class="odd">
                           <td  style="width:200px" align="left">Situation:</td>
                           <td  style="width:600px" align="left">{!temp.surObj.Situation__c}</td>
                        </tr>
                         </div>
                     </apex:repeat>
                   </tbody>
              </table>
                       </div>
             </apex:outputPanel>
            </div>
        </apex:outputPanel>
                       
        
    </div>


</apex:form>
</apex:page>