<apex:page standardController="Contact"  showHeader="false" sidebar="false" >
    <apex:slds />
    <apex:form >
            <div class="demo-only" >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="" style="margin-left: 0px;margin-right: 0px;padding-top: 2px;padding-bottom: 0px;">
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="width: 85vw;height: 98vh; padding-top: 0px; overflow-y: hidden;margin:auto;">
                            <p>
                                <strong>
                                    Don’t forget to create your “Who Knows Who”<br></br> 
                                </strong>
                                <br></br>
                                <div class="slds-grid slds-gutters" style="padding:0.5rem;">
                                    <div class="slds-col slds-size_2-of-6">
                                        <span><strong> Gold</strong></span>
                                        <apex:image id="theImagegold" value="/servlet/servlet.FileDownload?file=01524000002plCe"  width="80" height="20" style="position:relative; left:12px; margin-left:1rem;"/>
                                    </div>
                                    <div class="slds-col slds-size_4-of-6" style="margin-left:-11rem">
                                        <span>Call on a weekend, direct not via PA, could get a meeting within 72 hours</span>
                                    </div>
                                </div>
                                
                                <div class="slds-grid slds-gutters" style="padding:0.5rem;">
                                    <div class="slds-col slds-size_2-of-6">
                                        <span><strong> Silver</strong></span>
                                        <apex:image id="theImagesilver" value="/servlet/servlet.FileDownload?file=01524000002plCj"  width="80" height="20" style="position:relative; left:8px; margin-left:1rem;" />
                                    </div>
                                    <div class="slds-col slds-size_4-of-6" style="margin-left:-11rem">
                                        <span>Know well, could arrange a meeting within a few weeks, have worked with previously on multiple jobs</span>
                                    </div>
                                </div>
                                
                                <div class="slds-grid slds-gutters" style="padding:0.5rem;">
                                    <div class="slds-col slds-size_2-of-6">
                                        <span><strong> Bronze</strong></span>
                                        <apex:image id="theImagebronze" value="/servlet/servlet.FileDownload?file=01524000002plCo"  width="80" height="20" style="margin-left:1rem;"/>
                                        
                                    </div>
                                    <div class="slds-col slds-size_4-of-6" style="margin-left:-11rem">
                                        <span>Facial recognition, would say 'hello' at an event, have worked with previously on one or a few jobs</span>
                                    </div>
                                </div>
                                
                                <div class="slds-grid slds-gutters" style="padding:0.5rem;">
                                    <div class="slds-col slds-size_2-of-6">
                                        <span><strong> Known</strong></span>
                                    </div>
                                    <div class="slds-col slds-size_4-of-6" style="margin-left:-11rem" >
                                        <span>Meeting for the first time, or just want contact details in your Outlook</span>
                                    </div>
                                </div>
                                
                                <div class="slds-grid slds-gutters" style="padding:0.5rem;">
                                    <div class="slds-col slds-size_2-of-6">
                                        <span><strong> Personal</strong></span>
                                    </div>
                                    <div class="slds-col slds-size_4-of-6" style="margin-left:-11rem">
                                        <span>Know socially, through friends or studied together</span>
                                    </div>
                                </div>
                            </p>
                        </div>
          
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open" style="background: rgba(65, 117, 167, 0.8)"></div>
            </div>
    </apex:form>
</apex:page>